<div role="dialog" id="ConfirmModal" class="confirm_modal">
    <div class="modal-dialog p-3 modal-md" role="document" data-aos="zoom-in" data-aos-duration="1000">

        <div class="modal-content">
            <div class="modal-body" style="border: 0px;">
                <div class="row p-3">
                    <div class="d-flex justify-content-between align-items-start">
                        <h2>Get statement via email</h2>
                        <i class="fa fa-close fa-lg pt" data-bs-dismiss="modal" style="cursor: pointer;" (click)="closeModal()"></i>
                    </div>
                    <div class="d-block">
                        <p>You can get your statement up to the last 3 years</p>
                    </div>
                </div>
        
                <div class="row ps-3">
                    <div class="d-block">
                       <div class="pt-2 pb-2">
                        <input type="radio" name="statement_duration" id="last_year"> 
                        <label for="" class="ps-2">Last tax year</label>
                       </div>

                       <div class="pt-2 pb-2">
                        <input type="radio" name="statement_duration" id="by_month"> 
                        <label for="" class="ps-2">By month</label>
                       </div>

                       <div class="pt-2 pb-2">
                        <input type="radio" name="statement_duration" id="date_range"> 
                        <label for="" class="ps-2">Custom date range</label>
                       </div>
                    </div>
                </div>

                <div class="row p-3">
                    <div class="d-flex justify-content-between mt-2 mb-3">

                        <div class="col-5">
                            <label for=""><b>From</b></label>
                            <input type="date" name="" id="" class="form-control" value="01/01/2021">
                        </div>
        
                        <div class="col-5">
                            <label for=""><b>To</b></label>
                            <input type="date" name="" id="" class="form-control" value="01/01/2023">
                        </div>
        
                    </div>
                </div>

                <div class="col-12 mt-3 p-3">
                    <button class="w-100 btn btn-lg btn-danger">Get statement</button>
                </div>
            </div>
        </div>
    </div>
</div>