<div role="dialog" id="ConfirmModal" class="confirm_modal">
    <div class="modal-dialog p-3 modal-md" role="document"  >

        <div class="modal-content" style="width: 500px;" data-aos="zoom-in" data-aos-duration="1500">
            <div class="modal-body" style="padding: 10px;" >
                <div class="row mt-2 justify-content-center " >
                    
                    <h2>Important notes </h2>

                    <ul>
                        <li class="sub-text">
                            Please carry your CNIC copy as evidence of authorized representation when picking up another account holder’s banker’s cheque
                        </li>
                        
                        
                        <li class="sub-text">
                            Kindly collect the banker's cheque within the next 2 working days from your selected branch. Provision of incorrect information or failure to collect the cheque within this timeframe will result in its cancellation, and only the principal amount will be reversed to your account.
                        </li>
                        
                        
                        <li class="sub-text">
                            Charges may apply as per bank’s schedule of charges
                        </li>
                        
                        
                        <li class="sub-text">
                            NTN is mandatory for corporate entities
                        </li>
                        
                        
                        <li class="sub-text">
                            Requests after 4 PM will be processed on the next business day
                        </li>
                        
                    </ul>
                    
                </div>

             

                <div class="mt-3">
                    <div class="frame mt-3" style="border: none;">
                        <div class="content" style="display: flex;">
                            


                            <div class="d-flex align-items-center">
                                <input type='checkbox'  id='' name='account' style='width: 20px; height: 20px; margin-right: 10px; border-radius: 20px;'>
                            </div>
                            
                            <div class="div d-flex align-items-center">
                                <div class="text-wrapper me-1">I accept the  </div> <div style="color: #B40C02; text-decoration: underline;"> Terms and conditions</div> 
                            </div>
                        </div>
                       
                    </div>

                </div>
                
                <div class="col-12 mt-4">
                    <button class="w-100 btn btn-lg btn-danger" (click)="closeModal();">Proceed <img
                        src="/assets/img/icons/arrow-right-white.svg" alt=""></button>
                </div>
            </div>
        </div>
    </div>
</div>

