<div class="row customerInfo p-3">
    <div class="h4">Cards</div>
</div>
<div class="row">
    <div class="d-flex justify-content-center">
        <div class="frame" data-aos="fade-up" data-aos-duration="1000">
            <img class="UX-duotone" src="assets/img/icons/empty-cards.svg" />
            <div class="div">
              <div class="text-wrapper">No cards to show</div>
              <p class="p">Looks like you don’t have any cards that we can show here.</p>
            </div>
            <div class="div-2">
              <button class="btn btn-danger" style="text-transform: capitalize;">Apply for a new card</button>
              <!-- <div class="button"><p class="button-text"></p></div> -->
              <a href="#">
                <button class="button-2"><div class="button-text-2 primary-font-color mt-3">Manage other bank cards</div></button>
              </a>
            </div>
          </div>
    </div>
</div>