<div class="row customerInfo p-3 ps-1">
  <div class="h4 p-0">{{ componentName}}</div>
</div>



<!-- stepper -->

<div class="horizontal-progress mt-3 d-flex flex-wrap">
  <div class="progress-bar-item ps-1 pe-1 ">
    <div class="frame" [style.background-color]="step1">
      <div class="text-wrapper">1</div>
    </div>
    <div class="title ps-1">Recipient</div>
  </div>
  <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
  <div class="progress-bar-item  ps-1 pe-1 ">
    <div class="element-wrapper" [style.background-color]="step2">
      <div class="element">2</div>
    </div>
    <div class="div ps-1">Bill details</div>
  </div>
  <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
  <div class="progress-bar-item  ps-1 pe-1 ">
    <div class="element-wrapper" [style.background-color]="step3">
      <div class="element">3</div>
    </div>
    <div class="div ps-1">Confirm details</div>
  </div>
  <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
  <div class="progress-bar-item  ps-1 pe-1 mt-2 mt-sm-0">
    <div class="element-wrapper" [style.background-color]="step4">
      <div class="element">4</div>
    </div>
    <div class="div ps-1">Verification</div>
  </div>
</div>

<!-- stepper -->

<div class="row">
  <div class="col-12">
    <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5 " data-aos="fade-up"
      data-aos-duration="1000">

      <mat-stepper [linear]="isLinear" #stepper>

        <mat-step [stepControl]="firstFormGroup">

          <form [formGroup]="firstFormGroup">

            <div class="row">

              <div class="col-8">
                <h5>Your payers</h5>
                <p class="sub-text">Choose a payer from the list or add a new payment</p>
              </div>

              <div class="col-4 d-flex align-item-center justify-content-end h-25">
                <button class="btn btn-danger" routerLink="/payments/utility/new-payment" (click)="AccountModal();"><img
                    src="/assets/img/icons/plus-icon.svg" alt="">New payment</button>
              </div>

            </div>



            <mat-chip-listbox aria-label="Satement Selection">
              <div style="justify-content: space-between;">
                <mat-chip-option selected color="warn">All</mat-chip-option>
                <mat-chip-option color="warn">Electricity</mat-chip-option>
                <mat-chip-option color="warn">Gas</mat-chip-option>
                <mat-chip-option color="warn">Internet</mat-chip-option>
                <mat-chip-option color="warn">Landline</mat-chip-option>
                <mat-chip-option color="warn">Water and sanitation</mat-chip-option>
              </div>
            </mat-chip-listbox>


            <div class="row">
              <div class="col-lg-6 col-md-12 ">
                <div style="width: 300px;" class="h-100 mt-4">
                  <div class="col  m-1 payeeBox">
                    <div class="d-flex p-2">
                      <img src="/assets/img/icons/transworld.svg" alt="">

                      <div class="ps-2">
                        <p class="p-0 m-0"><b>Ali Ashraf</b></p>
                        <p class="p-0 m-0 sub-text">Transworld | 0031450619867</p>
                      </div>

                      <div class="col text-end align-self-center align-item-center" (click)="nextStep(stepper)">
                        <img src="/assets/img/icons/caret-right.svg" alt="">
                      </div>


                    </div>
                    <div class="hr"></div>

                    <div class="d-flex justify-content-between p-2">
                      <div class="tag-paid">Paid</div>
                      <div class="d-flex align-items-center">Paid On: Sep 20th, 2023</div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div style="width: 300px;" class="h-100 mt-4">
                  <div class="col  m-1 payeeBox">
                    <div class="d-flex p-2">
                      <img src="/assets/img/icons/lesco.svg" alt="">

                      <div class="ps-2">
                        <p class="p-0 m-0"><b>Ibrahim Khan</b></p>
                        <p class="p-0 m-0 sub-text">LESCO | 0031450619867</p>
                      </div>

                      <div class="col text-end align-self-center align-item-center">
                        <img src="/assets/img/icons/caret-right.svg" alt="">
                      </div>


                    </div>
                    <div class="hr"></div>

                    <div class="d-flex justify-content-between p-2">
                      <div class="tag-unpaid">Unpaid</div>
                      <div class="d-flex align-items-center">Paid On: Sep 20th, 2023</div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div style="width: 300px;" class="h-100 mt-4">
                  <div class="col  m-1 payeeBox">
                    <div class="d-flex p-2">
                      <img src="/assets/img/icons/transworld.svg" alt="">

                      <div class="ps-2">
                        <p class="p-0 m-0"><b>Ali Ashraf</b></p>
                        <p class="p-0 m-0 sub-text">Transworld | 0031450619867</p>
                      </div>

                      <div class="col text-end align-self-center align-item-center">
                        <img src="/assets/img/icons/caret-right.svg" alt="">
                      </div>


                    </div>
                    <div class="hr"></div>

                    <div class="d-flex justify-content-between p-2">
                      <div class="tag-paid">Paid</div>
                      <div class="d-flex align-items-center">Paid On: Sep 20th, 2023</div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div style="width: 300px;" class="h-100 mt-4">
                  <div class="col  m-1 payeeBox">
                    <div class="d-flex p-2">
                      <img src="/assets/img/icons/lesco.svg" alt="">

                      <div class="ps-2">
                        <p class="p-0 m-0"><b>Ibrahim Khan</b></p>
                        <p class="p-0 m-0 sub-text">LESCO | 0031450619867</p>
                      </div>

                      <div class="col text-end align-self-center align-item-center">
                        <img src="/assets/img/icons/caret-right.svg" alt="">
                      </div>


                    </div>
                    <div class="hr"></div>

                    <div class="d-flex justify-content-between p-2">
                      <div class="tag-unpaid">Unpaid</div>
                      <div class="d-flex align-items-center">Paid On: Sep 20th, 2023</div>
                    </div>

                  </div>
                </div>
              </div>
            </div>




          </form>

        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <h3>
              Bill details
            </h3>
            <p class="sub-text">Please review the amount payable for the consumer number 0031450619867</p>
            <div class="bill-header d-flex justify-content-between">
              <div>
                <h5 class="white-text">Amount</h5>
              </div>
              <div class="d-flex">
                <div class="d-flex align-items-end me-2">
                  <h6 class="white-text" style="vertical-align: bottom;">PKR</h6>
                </div>

                <div class="d-flex align-items-center ">

                  <h4 class="white-text">2,350</h4>
                </div>
              </div>
            </div>
            <div class="bill-body">

                <div class="d-flex justify-content-between">
                    <div>
                        <p class="sub-heading"><b>Company</b></p>
                    </div>
                    <div>
                        <p class="p16"><b>Transworld Enterprise</b></p>
                    </div>
                </div>
                
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="sub-heading"><b>Consumer name</b></p>
                    </div>
                    <div>
                        <p class="p16"><b>Muhammad Ali Ashraf</b></p>
                    </div>
                </div>
                
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="sub-heading"><b>Due date</b></p>
                    </div>
                    <div>
                        <p class="p16"><b>11th Oct, 2023</b></p>
                    </div>
                </div>
                
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="sub-heading"><b>Amount after due date</b></p>
                    </div>
                    <div>
                        <p class="p16"><b>2,700 PKR</b></p>
                    </div>
                </div>
                
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="sub-heading"><b>Billing month</b></p>
                    </div>
                    <div>
                        <p class="p16"><b>October</b></p>
                    </div>
                </div>
                
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center" style="vertical-align: middle;">
                        <p class="sub-heading"><b>Status</b></p>
                    </div>
                    <div>
                        <div class="tag-unpaid"><b>Unpaid</b></div>
                    </div>
                </div>
                
                
              
            </div>

            <div class="mt-4">
                <h3>
                    Last Payment
                  </h3>
                  <div class="bill-header d-flex justify-content-between"></div>
                  <div class="bill-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="sub-heading"><b>Amount</b></p>
                        </div>
                        <div>
                            <p class="p16"><b>PKR 2,350</b></p>
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="sub-heading"><b>Date</b></p>
                        </div>
                        <div>
                            <p class="p16"><b>20th Sep, 2023</b></p>
                        </div>
                    </div>
                    
                  </div>
            </div>

            <div class="mt-3">
                <div class="col h-25 mt-3 generalBox">
                    <div class="d-flex p-3">
                        <img src="/assets/img/icons/split-icon.svg" alt="">
    
                        <div class="ps-2 align-self-center align-item-center">
                            <p class="p-0 m-0"><b>Split PKR 500</b></p>
                           
                        </div>
    
                        <div class="col text-end align-self-center align-item-center">
                            <mat-slide-toggle
                                class="example-margin"
                                [color]="color"
                                [checked]="checked"
                                [disabled]="disabled"
                                formControlName="acceptTerms"
                                
                                data-toggle="modal">
                            
                            </mat-slide-toggle>
                        </div>
                    </div>
    
                </div>
            </div>

            <div class="mt-3">
                <button class="w-100 btn btn-lg btn-danger" (click)="nextStep(stepper)">Continue  <img src="/assets/img/icons/arrow-right-white.svg" alt="" ></button>
            </div>


          </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
                    
                <h3>
                    Payment source
                </h3>
                <p>
                    {{isSplitPayment ? 'Please choose at least 2 payment sources from the options available below' : 'Please choose a payment source from the options available below'}}    
                </p>
            
                @if(isAlertActive){
                    <app-alert [alertType]="warning" [alertMsg]="msg" [alertIcon]="icon" />
                }
                

                <div class="col-12">
                    <p class="p-0 m-0">
                        <b>Accounts</b>
                     </p>
                    
                    <div class="frame mt-3">
                        <div class="content">
                            
                            @if(isSplitPayment){
                                <input type='checkbox' (change)="showInput($event,1)" name='' id='' style='width: 20px; height: 20px;' >
                            }
                            
                            <div class="div">
                                <div class="text-wrapper"><b>Muhammad Ali Ashraf</b></div>
                                <div class="text-wrapper-2">57431231663731</div>
                            </div>
                        </div>
                        <div class="div-2">
                            <div class="text-wrapper">
                                PKR 400,000
                            </div>
                            <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
                        </div>
                    </div>

                    @if(inputText1){

                        <div class="d-flex justify-content-end  mt-2 ">
                            <label for="pkr" class="align-item-center align-content-center align-self-center p-1">PKR</label>
                            <input type="text" name=""  id="" class="form-control w-25">
                        </div>
                    }
                    

                    <div class="frame mt-3">
                        <div class="content">
                            
                            <div class="div">
                                <div class="text-wrapper"><b>Muhammad Ali Ashraf</b></div>
                                <div class="text-wrapper-2">57431231663731</div>
                            </div>
                        </div>
                        <div class="div-2">
                            <div class="text-wrapper">
                                PKR 400,000
                            </div>
                            <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
                        </div>
                    </div>

                    <div class="frame mt-3">
                        <div class="content">
                            
                            <div class="div">
                                <div class="text-wrapper"><b>Muhammad Ali Ashraf</b></div>
                                <div class="text-wrapper-2">57431231663731</div>
                            </div>
                        </div>
                        <div class="div-2">
                            <div class="text-wrapper">
                                PKR 400,000
                            </div>
                            <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
                        </div>
                    </div>

                </div>

                <div class="col-12">
                    <p class="mt-3">
                        <b>Credit Cards</b>
                     </p>
                    
                     <div class="frame mt-3">
                        <div class="content">
                            
                            @if(isSplitPayment){
                                <input type='checkbox' (change)="showInput($event,2)" name='' id='' style='width: 20px; height: 20px;' >
                            }

                            <div class="div">
                                <div class="text-wrapper"><b>Optimus</b></div>
                                <div class="text-wrapper-2">57431231663731</div>
                            </div>
                        </div>
                        <div class="div-2">
                            <div class="text-wrapper">
                                PKR 400,000
                            </div>
                            <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
                        </div>
                    </div>
                    @if(inputText2){

                        <div class="d-flex justify-content-end  mt-2 ">
                            <label for="pkr" class="align-item-center align-content-center align-self-center p-1">PKR</label>
                            <input type="text" name=""  id="" class="form-control w-25">
                        </div>
                    }
                    

                    <div class="frame mt-3">
                        <div class="content">
                            
                            <div class="div">
                                <div class="text-wrapper"><b>Platinum</b></div>
                                <div class="text-wrapper-2">57431231663731</div>
                            </div>
                        </div>
                        <div class="div-2">
                            <div class="text-wrapper">
                                PKR 400,000
                            </div>
                            <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
                        </div>
                    </div>
                    
                </div>

                <div class="col-12">
                    <p class="mt-3">
                        <b>Wallets</b>
                     </p>
                    
                     <div class="frame mt-3">
                        <div class="content">
                            
                            <div class="div">
                                <div class="text-wrapper"><b>Wallet</b></div>
                                <div class="text-wrapper-2">57431231663731</div>
                            </div>
                        </div>
                        <div class="div-2">
                            <div class="text-wrapper">
                                PKR 120,000
                            </div>
                            <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <p class="mt-3">
                        <b>Orbit</b>
                     </p>
                    
                     <div class="frame mt-3">
                        <div class="content">
                            <div class="div">
                                <div class="text-wrapper"><b>Orbit</b></div>
                                <div class="text-wrapper-2">Points: 2300</div>
                            </div>
                        </div>
                        <div class="div-2">
                            <div class="text-wrapper">
                                PKR 2300
                            </div>
                            <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    
                    <button class="w-100 btn btn-lg btn-danger"  (click)="nextStep(stepper)" >Continue  <img src="/assets/img/icons/arrow-right-white.svg" alt="" ></button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="fourthFormGroup">
          <form [formGroup]="fourthFormGroup">




            <h3>
                Confirm details
            </h3>
            
            <p class="sub-text">
                Please confirm the bill payment details below before you pay
            </p>
            
            <div class="col-12 generalBox p-3">
                <p class="p-0 m-0">From</p>
                <div class="d-flex justify-content-between">
                    <p class="p-0 m-0"><b>Account</b></p> <p class="p-0 m-0">57431231663731</p>
                </div>
            </div>
            
            <div class="col-12 generalBox p-3 mt-2">
                <div class="d-flex justify-content-between">
                    <p class="p-0 m-0">To</p> <img src="/assets/img/icons/edit-red.svg" alt="">
                </div>
                <p><b>Transworld Enterprise</b></p>
      
            </div>
            
            <div class="col-12 generalBox p-3 mt-2">
                <div class="d-flex justify-content-between">
                    <p class="p-0 m-0">Amount</p> <img src="/assets/img/icons/edit-red.svg" alt="">
                </div>
                
                <div class="d-flex">
                    <h3>2,350</h3>
                    <p class="p-0 m-0">PKR</p>
                </div>
            </div>

            <div class="mt-2">
                <div class="col h-25 mt-3 generalBox">
                    <div class="h-100 w-100 payeeBox mt-2">

                        <div class="d-flex bd-highlight p-2 pb-0">
                            <div class="p-1 bd-highlight"><img src="/assets/img/icons/clock-black.svg" alt=""></div>
                            <div class="p-1 bd-highlight"> <p><b>Transfer frequency</b></p></div>
                            <div class="ms-auto p-1 bd-highlight cursor-pointer" style="cursor: pointer;" (click)="frequencyModal()"> <p>Just now</p></div>
                        </div>
                    </div>
    
                </div>
            </div>

          
            <div class="mt-3">
                <button class="w-100 btn btn-lg btn-danger" (click)="nextStep(stepper)">Pay now <img src="/assets/img/icons/check-small.svg" alt=""></button>
       

            </div>





    
          </form>
        </mat-step>

        <mat-step [stepControl]="fifthFormGroup">



            <div class="text-center">
                <img src="/assets/img/icons/otp-phone.svg" alt="">
              </div>
    
              <h3>
                Verify OTP
              </h3>
              <p>
                Please enter the code we’ve sent to your mobile number *********83 below
              </p>
    
              <div class="col-12 mt-3">
                <label for="">OTP</label>
                <input type="password" name="" id="" class="form-control mt-1" placeholder="****">
              </div>
    
              <div class="col-12 mt-4">
                <button class="w-100 btn btn-lg btn-danger" (click)="receiptModal();">Pay PKR 2350/- <img
                    src="/assets/img/icons/check-small.svg" alt=""></button>
              </div>
    
              <p style="color: #5D5D5D;" class="text-center mt-2">
                Resend OTP in 00:40
              </p>
       
        </mat-step>

        <mat-step [stepControl]="sixthFormGroup">
          <div class="row mt-2 justify-content-center">
            <img src="/assets/img/icons/Rocket.png" alt="" class="w-25 mb-2">
          </div>


          <h3 class="mt-4">Card PIN set successfully!</h3>
          <p>Your card is now active and ready to use for payments and withdrawals.</p>

          <div class="col-12 mt-4">
            <button class="w-100 btn btn-lg btn-danger" routerLink="/cards">Go to cards <i
                class="fa fa-arrow-right"></i></button>
          </div>
        </mat-step>

      </mat-stepper>
    </div>
  </div>
</div>
