.payeeBox{
    border: 1px solid #E1E1E1; border-radius: 5px;
    border-radius: 8px;
    background: #FFF; 
    /* Elevation Levels/2 */
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}


.frame {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    position: relative;
    border-radius: 4px;
    border: 1px solid;
    border-color: #E1E1E1;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  }
  
  .frame .wallet {
    position: relative;
    width: 32px;
    height: 32px;
  }
  
  .frame .div {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-grow: 1;
    align-items: flex-start;
    position: relative;
  }
  
  .frame .div-2 {
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
    flex: 0 0 auto;
    align-items: flex-start;
    position: relative;
  }
  
  .frame .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-2 {
    position: relative;
    width: fit-content;
    white-space: nowrap;
  }
  
  .frame .checkboxes {
    display: inline-flex;
    align-items: center;
    gap: 4;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame .checkbox {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .frame .checkboxes-android {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    border-radius: 2px;
    border: 1px solid;
   
  }
  