<div role="dialog" id="ConfirmModal" class="confirm_modal">
    <div class="modal-dialog p-3 modal-md" role="document" data-aos="zoom-in" data-aos-duration="1000">

        <div class="modal-content" style="width: 700px;">
            <div class="modal-body" style="border: 0px;">
                <div class="row p-3 pb-0 pt-0">
                    <div class="d-flex justify-content-between align-items-start">
                        <h3>My Cards</h3>
                        <i class="fa fa-close fa-lg pt" data-bs-dismiss="modal" style="cursor: pointer;" (click)="closeModal()"></i>
                    </div>
                    <div class="d-block">
                        <p></p>
                    </div>
                </div>
        
                <div class="row p-3">
                    <div class="col-12">
                        <div class="frame">
                            <div class="content">
                                <img class="tabler-icon" src="/assets/img/icons/card-light.svg" />
                                <div class="div">
                                    <div class="text-wrapper"><b>Bank Alfalah Titanium Card</b></div>
                                    <div class="text-wrapper-2">Ending in *4531</div>
                                </div>
                            </div>
                            <div class="div-2">
                                <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="frame">
                            <div class="content">
                                <img class="tabler-icon" src="/assets/img/icons/card-light.svg" />
                                <div class="div">
                                    <div class="text-wrapper"><b>Bank Alfalah Gold Card</b></div>
                                    <div class="text-wrapper-2">Ending in *4531</div>
                                </div>
                            </div>
                            <div class="div-2">
                                <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="frame">
                            <div class="content">
                                <img class="tabler-icon" src="/assets/img/icons/card-light.svg" />
                                <div class="div">
                                    <div class="text-wrapper"><b>NFC VISA Titanium Card</b></div>
                                    <div class="text-wrapper-2">Ending in *4531</div>
                                </div>
                            </div>
                            <div class="div-2">
                                <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>