<div class="row customerInfo p-3 ps-1">
    <div class="h5 p-0">
        <img src="/assets/img/icons/arrow-left.svg" alt="" (click)="back()" >Cards
    
        <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
        Credit card facilities

         <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
         Renewal
    </div>
</div>


<div class="row">
    <div class="col-12">
      <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5" data-aos="fade-up" data-aos-duration="1000">



        <div class="d-flex">
            <div class="col">
                <h4 class="p-0 m-0">Renewal</h4>
            </div>

        </div>

        <div class="mt-3">

            <label for="Send to"><b>Select credit card</b></label>

            <div class="h-100 w-100">
                <mat-form-field class="w-100">
                    <mat-label>Bank Alfalah Gold Credit Card</mat-label>
                    <mat-select>
                        <mat-option value="option1">57431231663731</mat-option>
                        <mat-option value="option2">57431231663731</mat-option>
                        <mat-option value="option3">57431231663731</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        
        <div class="mt-2">
            <div class="d-flex justify-content-between align-items-center">
                <label><b>Full name</b></label>
         
            </div>

            <input type="text" name="" placeholder="Please enter full name
            " id="" class="form-control">
        </div>


        <div class="mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <label><b>Mobile number</b></label>
         
            </div>

            <input type="text" name="" placeholder="Please enter mobile number
            " id="" class="form-control">
        </div>

        <div class="mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <label><b>Request details (optional)</b></label>
         
            </div>

            <textarea type="text-area" name="" placeholder="Please enter your request details
            " id="" class="form-control" rows="5"></textarea>
        </div>




        <div class="mt-3 mb-1">
            <button class="w-100 btn btn-lg btn-danger" (click)="successModal()">Submit <img
                src="/assets/img/icons/arrow-right-white.svg" alt=""></button>
        </div>


        

      </div>        
    </div>
</div>