<div role="dialog" id="ConfirmModal" class="confirm_modal">
    <div class="modal-dialog p-3 modal-md" role="document"  >

        <div class="modal-content" style="width: 500px;" data-aos="zoom-in" data-aos-duration="1500">
            <div class="modal-body" style="padding: 10px;" >
                <div class="row mt-2 justify-content-center text-center" >

                    <img src="/assets/img/icons/thumbs-up.svg" alt="" class="w-50">
                    
                    <h4>Cheque submitted successfully! </h4>

                    <p class="sub-text">Reference number FT48718754848484</p>

                    <p class="sub-text">Dear Zaid Gul, you have successfully initiated Banker’s cheque request of PKR 100,000 from account 0056252152151. Zaid Gul can collect the Banker’s cheque from Branch 0003.</p>

                    
                </div>

             

                
                <div class="col-12 mt-4">
                    <button class="w-100 btn btn-lg btn-danger" (click)="openReceiptAndCloseModal()">Done <img
                        src="/assets/img/icons/done.svg" alt=""></button>
                </div>
            </div>
        </div>
    </div>
</div>

