
.payeeBox{
    border: 1px solid #E1E1E1; border-radius: 5px;
}

.frame{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #e1e1e1;
}

.frame .content{
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
}

.frame .tabler-icon{
    position: relative;
    width: 24px;
    height: 24px;
}

.frame .div{
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
}

.frame .text-wrapper{
    position: relative;
    width: fit-content;
    margin-top: -1px;
    white-space: nowrap;
}

.frame .text-wrapper-2{
    position: relative;
    width: fit-content;
    white-space: nowrap;
}

.frame .div-2{
    align-items: center;
    justify-content: center;
    gap: 4px;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
}
