<div class="row ps-0 ms-0 ">
    <div class="d-flex justify-content-between p-0 m-0">
        <h5 class="primary-heading">Your deposits</h5>

    </div>
</div>
<div class="row ps-0 ms-0">
    <img src="/assets/img/icons/no-deposits.svg" width="80px" height="80px">
</div>

<div class="row ps-0 ms-0" style="text-align: center;">
    <h6>No deposits</h6>
</div>

<div class="row ps-0 ms-0 primary-heading" style="text-align: center;">
    <p class="primary-heading">Looks like you don't have any<br>deposits that we can share here</p>
</div>