<div class="row customerInfo p-3 ps-1">
  <div class="h4 p-0">{{ componentName}}</div>
</div>



<!-- stepper -->

<div class="horizontal-progress mt-3 d-flex flex-wrap">
  <div class="progress-bar-item ps-1 pe-1 ">
    <div class="frame" [style.background-color]="step1">
      <div class="text-wrapper">1</div>
    </div>
    <div class="title ps-1">Recipient</div>
  </div>
  <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
  <div class="progress-bar-item  ps-1 pe-1 ">
    <div class="element-wrapper" [style.background-color]="step2">
      <div class="element">2</div>
    </div>
    <div class="div ps-1">Donation details</div>
  </div>
  <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
  <div class="progress-bar-item  ps-1 pe-1 ">
    <div class="element-wrapper" [style.background-color]="step3">
      <div class="element">3</div>
    </div>
    <div class="div ps-1">Amount</div>
  </div>
  <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
  <div class="progress-bar-item  ps-1 pe-1 mt-2 mt-sm-0">
    <div class="element-wrapper" [style.background-color]="step4">
      <div class="element">4</div>
    </div>
    <div class="div ps-1">Confirm details</div>
  </div>

  <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
  <div class="progress-bar-item  ps-1 pe-1 mt-2 mt-sm-0">
    <div class="element-wrapper" [style.background-color]="step4">
      <div class="element">5</div>
    </div>
    <div class="div ps-1">Verification</div>
  </div>



</div>



<!-- stepper -->

<div class="row">
  <div class="col-12" data-aos="fade-up" data-aos-duration="1000">
    <mat-stepper [linear]="isLinear" #stepper>

      <mat-step [stepControl]="firstFormGroup">

        <form [formGroup]="firstFormGroup">


          <div class="row">
            <div class="col-12">
              <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5 " data-aos="fade-up"
                data-aos-duration="1000">

                <div>
                  <h5>Choose company</h5>
                  <p class="sub-text">Please choose which company you'd like to pay</p>
                  <div class="input-icons mt-4">
                    <i class="fa fa-search icon"></i>
                    <input type="text" class="form-control ps-5" style="border-radius: 20px;" placeholder="Search">
                  </div>
                </div>



                <div class="mt-4">
                  <h5>Recently payed</h5>
                </div>

                <div>
                  <div class="row">

                    <div class="col-lg-6 col-md-8">
                      <div class="h-100">
                        <div class="col  m-1 payeeBox" style="padding: 12px;">
                          <div class="d-flex p-2">
                            <img src="/assets/img/icons/edhi.svg" alt="">

                            <div class="ps-3">
                              <p class="p-0 m-0"><b>Edhi</b></p>
                            </div>

                            <div class="col text-end align-self-center align-item-center" (click)="nextStep(stepper)">
                              <img src="/assets/img/icons/caret-right.svg" alt="">
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-8">
                      <div class="h-100">
                        <div class="col  m-1 payeeBox" style="padding: 12px;">
                          <div class="d-flex p-2">
                            <img src="/assets/img/icons/wpf.svg" alt="">

                            <div class="ps-3">
                              <p class="p-0 m-0"><b>World Food Programme</b></p>
                            </div>

                            <div class="col text-end align-self-center align-item-center" (click)="nextStep(stepper)">
                              <img src="/assets/img/icons/caret-right.svg" alt="">
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>



                  </div>
                </div>

                <div class="mt-4">
                  <h5>All companies</h5>
                </div>

                <div>
                  <div class="row">

                    <div class="col-lg-6 col-md-8">
                      <div class="h-100">
                        <div class="col  m-1 payeeBox" style="padding: 12px;">
                          <div class="d-flex p-2">
                            <img src="/assets/img/icons/edhi.svg" alt="">

                            <div class="ps-3">
                              <p class="p-0 m-0"><b>Edhi</b></p>
                            </div>

                            <div class="col text-end align-self-center align-item-center" (click)="nextStep(stepper)">
                              <img src="/assets/img/icons/caret-right.svg" alt="">
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-8">
                      <div class="h-100">
                        <div class="col  m-1 payeeBox" style="padding: 12px;">
                          <div class="d-flex p-2">
                            <img src="/assets/img/icons/wpf.svg" alt="">

                            <div class="ps-3">
                              <p class="p-0 m-0"><b>World Food Programme</b></p>
                            </div>

                            <div class="col text-end align-self-center align-item-center" (click)="nextStep(stepper)">
                              <img src="/assets/img/icons/caret-right.svg" alt="">
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-8">
                      <div class="h-100">
                        <div class="col  m-1 payeeBox" style="padding: 12px;">
                          <div class="d-flex p-2">
                            <img src="/assets/img/icons/edhi.svg" alt="">

                            <div class="ps-3">
                              <p class="p-0 m-0"><b>Edhi</b></p>
                            </div>

                            <div class="col text-end align-self-center align-item-center" (click)="nextStep(stepper)">
                              <img src="/assets/img/icons/caret-right.svg" alt="">
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-8">
                      <div class="h-100">
                        <div class="col  m-1 payeeBox" style="padding: 12px;">
                          <div class="d-flex p-2">
                            <img src="/assets/img/icons/wpf.svg" alt="">

                            <div class="ps-3">
                              <p class="p-0 m-0"><b>World Food Programme</b></p>
                            </div>

                            <div class="col text-end align-self-center align-item-center" (click)="nextStep(stepper)">
                              <img src="/assets/img/icons/caret-right.svg" alt="">
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>


                  </div>
                </div>

              </div>
            </div>
          </div>

        </form>

      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">

          <div class="row">
            <div class="col-12">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5 " data-aos="fade-up"
                data-aos-duration="1000">

                <div class="d-flex">
                  <div class="col">
                    <h4 class="p-0 m-0">Donations</h4>
                    <p class="p-0 m-0">Please review the donation details before moving on</p>
                  </div>

                </div>

                <div class="d-block mt-4">
                  <label for="Send to"><b>Send to</b></label>
                  <div class="h-100 w-100 payeeBox mt-2"
                    style="border-top-right-radius: 8px; border-top-left-radius: 8px; border-top: #DB3127 8px solid;">
                    <div class="col h-25 m-1 ">
                      <div class="d-flex p-2">
                        <img src="/assets/img/icons/edhi.svg" alt="">

                        <div class="ps-2">
                          <p class="p-0 m-0"><b>Edhi</b></p>
                          <p class="p-0 m-0">PK24MUCB1917151715309568</p>
                        </div>

                        <!-- <div class="col text-end align-self-center align-item-center">
                                    <img src="/assets/img/icons/caret-right.svg" alt="">
                                </div> -->
                      </div>

                      <div class="d-flex justify-content-between m-1 pt-2 ps-3 pe-3"
                        style="border-top: 1px solid #E1E1E1;">
                        <p>Last donation: PKR 12,500</p>
                        <p>Sep 20th, 2023</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mt-4">
                  <label><b>Purpose of donation</b></label>
                  <select name="" id="" class="form-control form-select">
                    <option value="">Others</option>
                    <option value="">Other 1</option>
                    <option value="">Other 2</option>
                    <option value="">Other 3</option>
                  </select>
                </div>

                <div class="mt-4">
                  <button class="w-100 btn btn-lg btn-danger" (click)="nextStep(stepper)">Continue <img
                      src="/assets/img/icons/arrow-right-white.svg" alt=""></button>
                </div>


              </div>
            </div>
          </div>

        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">


          <div class="row">
            <div class="col-12">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5 " data-aos="fade-up"
                data-aos-duration="1000">


                <div class="d-flex">
                  <div class="col">
                    <h4 class="p-0 m-0">Enter an amount</h4>
                    <p class="p-0 m-0">Please enter the amount you want to transfer</p>
                  </div>

                </div>

                <div class="d-block mt-4">
                  <label for="Send to"><b>Send from</b></label>
                  <!-- <div  class="h-100 w-100" (click)="nextStep(stepper)">
                        <div class="col h-25 m-1 ms-0 me-0 payeeBox">
                            <div class="d-flex p-2">
                                <img src="/assets/img/icons/alfa-logo.svg" alt="">
            
                                <div class="ps-2">
                                    <p class="p-0 m-0"><b>Account</b></p>
                                    <p class="p-0 m-0">57431231663731</p>
                                </div>
            
                                <div class="col text-end align-self-center align-item-center">
                                    <img src="/assets/img/icons/caret-down.svg" alt="">
                                </div>
                            </div>
            
                        </div>
                    </div> -->
                  <div class="h-100 w-100">
                    <mat-form-field class="w-100">
                      <mat-label>Account</mat-label>
                      <mat-select [formControl]="pokemonControl">
                        <mat-option>-- None --</mat-option>
                        @for (group of pokemonGroups; track group) {
                        <mat-optgroup [label]="group.name" [disabled]="group.disabled">
                          @for (pokemon of group.pokemon; track pokemon) {
                          <mat-option [value]="pokemon.value">
                            <!-- <img src="/assets/img/icons/alfa-logo.svg" alt="">  -->
                            {{pokemon.viewValue}}</mat-option>
                          }
                        </mat-optgroup>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>

                </div>

                <div class="mt-1">
                  <label for="Send to"><b>Amount</b></label>
                  <input type="text" name="" placeholder="PKR XXXXX" id="" class="form-control">
                </div>

                <div class="w-50  p-2 ps-0">
                  <span style="font-size: small;">Balance: PKR 400,000</span>
                </div>

                <div class="mt-2 p-3" style="background-color: #F8F8F8; border-radius: 8px;">
                  <p style="color: #5D5D5D;"><b>Transfer limits</b></p>

                  <p>The following transfer limits apply to your current transaction</p>

                  <div style="border: 1px solid #C3C3C3; border-radius: 4px;"
                    class="d-flex justify-content-around align-self-center pt-2">
                    <p style="color: #5D5D5D;"><b>Per transaction</b></p>
                    <p style="color: #5D5D5D;">PKR 250,000</p>
                  </div>

                  <h6 class="primary-font-color pt-2" routerLink="/settings/limit-managment">Modify transfer limits</h6>
                </div>

                <div class="mt-4">
                  <button class="w-100 btn btn-lg btn-danger" (click)="nextStep(stepper)">Continue <img
                      src="/assets/img/icons/arrow-right-white.svg" alt=""></button>
                </div>



              </div>
            </div>
          </div>

        </form>
      </mat-step>

      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">

          <div class="row">
            <div class="col-12">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5 " data-aos="fade-up"
                data-aos-duration="1000">


                <form [formGroup]="fourthFormGroup">
                  <div class="d-flex">
                    <div class="col">
                      <h4 class="p-0 m-0">Confirm details</h4>
                      <p class="p-0 m-0">Please confirm the transfer details below before you complete the transfer</p>
                    </div>

                  </div>

                  <div class="h-100 w-100 payeeBox mt-2"
                    style="border-top-right-radius: 8px; border-top-left-radius: 8px; border-top: #DB3127 8px solid;">
                    <div class="col h-25 m-1 ">
                      <div class="d-flex p-2 pt-3">
                        <img src="/assets/img/icons/alfa-logo.svg" alt="">

                        <div class="ps-2">
                          <p class="p-0 m-0"><b>Haris Zahid</b></p>
                          <p class="p-0 m-0">57431231663731</p>
                        </div>

                        <div class="col text-end align-self-center align-item-center">
                          <img src="/assets/img/icons/edit-red.svg" alt="">
                        </div>
                      </div>

                    </div>

                    <div class="d-flex p-3 pt-0 pb-0">
                      <img src="/assets/img/icons/payee-separator.svg" alt="" class="w-100">
                    </div>

                    <div class="col h-25 m-1">
                      <div class="d-flex p-2 pt-0">
                        <img src="/assets/img/icons/edhi.svg" alt="">

                        <div class="ps-2">
                          <p class="p-0 m-0"><b>Edhi</b></p>
                          <p class="p-0 m-0">PK24MUCB1917151715309568</p>
                        </div>

                        <div class="col text-end align-self-center align-item-center">
                          <img src="/assets/img/icons/edit-red.svg" alt="">
                        </div>
                      </div>

                    </div>

                    <div class="d-flex pb-3">



                      <div class="col p-2 ps-3">
                        <p class="p-0 m-0"><b>Purpose</b></p>
                        <p class="p-0 m-0">Others</p>
                      </div>
                    </div>
                  </div>

                  <!-- FCY Transaction -->
                  @if(isFCYAccount){
                  <div class="h-100 w-100 payeeBox mt-2 p-3">
                    <div>
                      <div class="d-flex justify-content-between">
                        <p><b>Amount</b></p>
                        <img src="/assets/img/icons/edit-red.svg" alt="">
                      </div>
                      <h3>
                        5,000 <span style="font-size: small;">PKR</span>
                      </h3>
                    </div>

                  </div>
                  }@else {
                  <div class="h-100 w-100 payeeBox mt-2 p-3">
                    <div class="d-flex justify-content-between">
                      <p><b>Amount</b></p>
                      <img src="/assets/img/icons/edit-red.svg" alt="">
                    </div>
                    <h3>
                      5,000 <span style="font-size: small;">PKR</span>
                    </h3>
                  </div>
                  }

                  <!-- when edit amount pressed this will open -->

                  <!-- <div class="mt-1">
                            <input type="text" name="" placeholder="PKR XXXXX" id="" class="form-control">
                        </div> -->

                  <div class="h-100 w-100 payeeBox mt-2">

                    <div class="d-flex bd-highlight p-2 pb-0">
                      <div class="p-1 bd-highlight"><img src="/assets/img/icons/recurring.svg" alt=""></div>
                      <div class="p-1 bd-highlight">
                        <p><b>Is this a recurring payment?</b></p>
                      </div>
                      <div class="col text-end align-self-center align-item-center">
                        <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked"
                          [disabled]="disabled" formControlName="acceptTerms" data-toggle="modal">

                        </mat-slide-toggle>
                      </div>
                    </div>
                  </div>


                  <div class="mt-4">
                    <button class="w-100 btn btn-lg btn-danger" (click)="nextStep(stepper)">Continue <img
                        src="/assets/img/icons/arrow-right-white.svg" alt=""></button>
                  </div>

                </form>



              </div>
            </div>
          </div>

        </form>
      </mat-step>

      <mat-step [stepControl]="fifthFormGroup">

        <div class="row">
          <div class="col-12">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5 " data-aos="fade-up"
              data-aos-duration="1000">

        



                <div class="text-center">
                    <img src="/assets/img/icons/otp-phone.svg" alt="">
                  </div>
        
                  <h3>
                    Verify OTP
                  </h3>
                  <p>
                    Please enter the code we’ve sent to your mobile number *********83 below
                  </p>
        
                  <div class="col-12 mt-3">
                    <label for="">OTP</label>
                    <input type="password" name="" id="" class="form-control mt-1" placeholder="****">
                  </div>
        
                  <div class="col-12 mt-4">
                    <button class="w-100 btn btn-lg btn-danger" (click)="receiptModal();">Donate PKR 2350/- <img
                        src="/assets/img/icons/check-small.svg" alt=""></button>
                  </div>
        
                  <p style="color: #5D5D5D;" class="text-center mt-2">
                    Resend OTP in 00:40
                  </p>
           
       

            </div>
          </div>
        </div>
      </mat-step>

      <mat-step [stepControl]="sixthFormGroup">

      </mat-step>

    </mat-stepper>
  </div>
</div>
