<div class="d-flex customerInfo justify-content-start p-0 pt-3 pb-2 ps-1">
    <div class="h4 p-0"><img src="/assets/img/icons/arrow-left.svg" alt="" (click)="back()" >Cards</div>
    <img style="width: 25px;" class="m-0 p-0 mb-2" src="/assets/img/icons/caret-right.svg" />
    <div class="h4 p-0">Deals and discounts</div>
</div>
<div class="ps-2 mt-3">
    <div class="row">
        <h4>Deals and Discount</h4>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4  mt-2">
            <label for="Select city"><b>Select city</b></label>
            <select name="" id="" class="form-control form-select mt-1">
                <option value="Nationwide">Nation wide</option>
                <option value="Karachi">Karachi</option>
                <option value="Lahore">Lahore</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="d-block mt-2 mb-3 pt-2">
            <div class="col-12">
                <mat-chip-listbox aria-label="Satement Selection" (change)="onChange($event)">
                    <mat-chip-option selected color="warn">All</mat-chip-option>
                    <mat-chip-option color="warn">Earned</mat-chip-option>
                    <mat-chip-option color="warn">Bonus</mat-chip-option>
                    <mat-chip-option color="warn">Redemeed</mat-chip-option>
                    <mat-chip-option color="warn">Expired</mat-chip-option>
                </mat-chip-listbox>
            </div>
        </div>
    </div>

    <!-- Deals n Discount -->
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 ">
        <div class="row pt-1 m-1"  style="border: 1px solid #E1E1E1; border-top: 5px solid #DB3127; border-radius: 20px;">
          <div class="d-flex">
            <div class="col-2">
              <img src="/assets/img/icons/deal-icon-1.svg" alt="">
            </div>
            <div class="col p-2">
              <div class="d-block">
                <div class="col ps-1">
                  Shaukat Khanam
                </div>
                <div class="col ps-1">
                  <img src="/assets/img/icons/pin-location.svg" alt="">
                  Lahore
                </div>
              </div>
            </div>
            <div class="col-4 text-center pt-2">
              <div style="background-color: #18B368; border-radius: 50px; padding: 3px; color: #fff;" >
                PKR 200 off
              </div>
            </div>
          </div>
          <div class="d-block pt-3">
            <ul>
              <li>
                Valid on pathology lab test only
              </li>
              <li>
                Valid on pathology lab test only
              </li>
              <li>
                Valid on pathology lab test only
              </li>
              <li>
                Valid on pathology lab test only
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 ">
        <div class="row pt-1 m-1"  style="border: 1px solid #E1E1E1; border-top: 5px solid #DB3127; border-radius: 20px;">
          <div class="d-flex">
            <div class="col-2">
              <img src="/assets/img/icons/deal-icon-1.svg" alt="">
            </div>
            <div class="col p-2">
              <div class="d-block">
                <div class="col ps-1">
                  Shaukat Khanam
                </div>
                <div class="col ps-1">
                  <img src="/assets/img/icons/pin-location.svg" alt="">
                  Lahore
                </div>
              </div>
            </div>
            <div class="col-4 text-center pt-2">
              <div style="background-color: #18B368; border-radius: 50px; padding: 3px; color: #fff;" >
                PKR 200 off
              </div>
            </div>
          </div>
          <div class="d-block pt-3">
            <ul>
              <li>
                Valid on pathology lab test only
              </li>
              <li>
                Valid on pathology lab test only
              </li>
              <li>
                Valid on pathology lab test only
              </li>
              <li>
                Valid on pathology lab test only
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 ">
        <div class="row pt-1 m-1"  style="border: 1px solid #E1E1E1; border-top: 5px solid #DB3127; border-radius: 20px;">
          <div class="d-flex">
            <div class="col-2">
              <img src="/assets/img/icons/deal-icon-1.svg" alt="">
            </div>
            <div class="col p-2">
              <div class="d-block">
                <div class="col ps-1">
                  Shaukat Khanam
                </div>
                <div class="col ps-1">
                  <img src="/assets/img/icons/pin-location.svg" alt="">
                  Lahore
                </div>
              </div>
            </div>
            <div class="col-4 text-center pt-2">
              <div style="background-color: #18B368; border-radius: 50px; padding: 3px; color: #fff;" >
                PKR 200 off
              </div>
            </div>
          </div>
          <div class="d-block pt-3">
            <ul>
              <li>
                Valid on pathology lab test only
              </li>
              <li>
                Valid on pathology lab test only
              </li>
              <li>
                Valid on pathology lab test only
              </li>
              <li>
                Valid on pathology lab test only
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end -->

    <!-- <div class="row">
        <div class="frame">
            <div class="div">
              <div class="content">
                <img class="img" src="img/frame.svg" />
                <div class="frame-wrapper">
                  <div class="div-2">
                    <div class="text-wrapper">Shaukat Khanam</div>
                    <div class="div-3">
                      <img class="tabler-icon" src="img/tabler-icon.svg" />
                      <div class="text-wrapper-2">Lahore</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chip"><div class="chip-2">PKR 200 off</div></div>
            </div>
            <div class="div-4">
              <p class="p">Valid on pathology lab test only</p>
              <p class="text-wrapper-3">Maximum discount is PKR 3,000</p>
              <p class="text-wrapper-3">Valid from 01-11-2022 to 31-12-2023</p>
            </div>
          </div>
    </div> -->
</div>

