<div class="row customerInfo p-3 ps-1">
    <div class="h5 p-0">
        <img src="/assets/img/icons/arrow-left.svg" alt="" (click)="back()" >Settings
    
        <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
        Language
    </div>
</div>

<div class="row">
    <div class="col-12">
      <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5" data-aos="fade-up" data-aos-duration="1000">
      

        <div class="col">
            <h4 class="p-0 m-0">Language</h4>
        </div>

        <div class="row mt-3">
            <div class="col-12"> 

                <div class="frame p-3">
                   
                    <div class="div">
                    <div class="div-2 ">
                        <div class="text-wrapper">English (Default)</div>
                    </div>
                    <div>
                        <div>
                            <input type="radio" name="language" id="english" style="width: 18px; height: 18px;" >
                        </div>
                    </div>
                    </div>
                </div>

                <div class="frame p-3 mt-2">
                   
                    <div class="div">
                    <div class="div-2 ">
                        <div class="text-wrapper"> (Urdu) اردو </div>
                    </div>
                    <div>
                        <div>
                            <input type="radio" name="language" id="urdu" style="width: 18px; height: 18px;" >
                        </div>
                    </div>
                    </div>
                </div>
            </div>
         </div>

      </div>

    </div>

</div>