<figure class="avatar ms-1 mt-1" style="vertical-align: top;border-radius: 0; background-color: transparent; width: auto;">
    <img src="assets/img/orbits/orbit-6.png" alt="user-orbits" style="border-radius: 0;" >
</figure>

<div class="author-box-details ps-2" style="display: inline-block;">
    <div class="author-box-name mt-3">
       <p class="mb-0" style="line-height: 1.2;"> Orbits Conventional: <span class="textcolor"><b>3,400</b></span></p>
       <p class="mb-0" style="line-height: 1.2;"> Orbits Islamic: <span style="color: #004851;"><b>1,400</b></span></p>
    </div>     
</div>