<div role="dialog" id="ConfirmModal" class="confirm_modal">
    <div class="modal-dialog p-3 modal-md" role="document"  style="border-top: 5px solid red;">

        <div class="modal-content" style="width: 500px;" data-aos="zoom-in" data-aos-duration="1500">
            <div class="modal-body" >
                <div class="row mt-2 justify-content-center text-center" >
                    <img src="/assets/img/icons/check-circle-green.svg" alt="" class="w-25">

                    <h2>Successful! </h2>

                    <p class="fs-2 mt-4">Debit card access updated</p>
                    
                </div>
                
                <div class="col-12 mt-4">
                    <button class="w-100 btn btn-lg btn-danger" (click)="closeModal();">Close </button>
                </div>
            </div>
        </div>
    </div>
</div>

