<div role="dialog" id="ConfirmModal" class="confirm_modal" >
    <div class="modal-dialog p-3 modal-md" role="document" data-aos="zoom-in" data-aos-duration="1000">

        <div class="modal-content" style="width: 700px;">
            <div class="modal-body" style="border: 0px;">
                <div class="row p-3 pb-0 pt-0">
                    <div class="d-flex justify-content-between align-items-center align-content-center">
                        <h3>Account details</h3>
                        <i class="fa fa-close fa-lg pt" data-bs-dismiss="modal" style="cursor: pointer;" (click)="closeModal()"></i>
                    </div>
                    <div class="d-block">
                        <p></p>
                    </div>
                </div>
        
                <div class="row p-3">
                    <div class="col-12">
                        <div class="frame">
                            <div class="div">
                              <div class="div-wrapper"><div class="text-wrapper">Account number</div></div>
                              <div class="text-wrapper-2" style="color: #2E2E2E;"><b>0002356987411</b></div>
                            </div>
                            <img class="tabler-icon" src="/assets/img/icons/copy.svg" />
                          </div>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="frame">
                            <div class="div">
                              <div class="div-wrapper"><div class="text-wrapper">IBAN</div></div>
                              <p class="text-responsive" style="color: #2E2E2E;"><b>PK472121100900000002356987411</b></p>
                            </div>
                            <img class="tabler-icon" src="/assets/img/icons/copy.svg" />
                          </div>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="frame d-block">
                        
                            <div class="d-flex justify-content-between">
                                <p style="color: #5D5D5D;">Branch Name</p>
                                <p><b>Clifton Branch, Karachi</b></p>
                            </div>

                            <div class="d-flex justify-content-between">
                                <p style="color: #5D5D5D;">Branch Code</p>
                                <p><b>0031</b></p>
                            </div>

                            <div class="d-flex justify-content-between">
                                <p style="color: #5D5D5D;">Zakat exemption</p>
                                <p><b>Yes</b></p>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>