<div class="row">
    <div class="d-flex justify-content-start">
        <div class="col">
            <ul class="navbar-nav m-sm-1 mt-0 pt-0">
                <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg d-xl-none d-sm-block"><i class="fas fa-bars"></i></a></li> 
            </ul>
        </div>
        <div class="d-flex justify-content-end d-block d-sm-none d-md-none d-lg-none">
            <button class="btn primary-font-color">Log out <img src="/assets/img/icons/log-out-icon.svg" alt=""> </button>
            <!-- <button class="btn btn-danger m-1">
                Logout
            </button> -->
        </div>
    </div>
</div>
