<div class="card" style="min-height: 330px;" data-aos="zoom-in">
    <div class="p-4 pb-0 d-flex justify-content-between">
      <h4 class="pb-0 mb-0 primary-heading" ><b>Quick Transfer</b></h4>
    </div>
    <div class="card-body ps-3 pe-3" >
      <div class="row">
        <div class="col-12 p-0">
          <div class="row d-flex align-items-center p-2">
            <img src="/assets/img/icons/no-account.svg" width="80px" height="80px">
          </div>
        </div>
        <div class="col-12 pt-1">
          <div class="row g-3 p-4">
            <div style="margin: auto; text-align: center;">
              <h4>No payees</h4>
              <p class="primary-heading">You don't have any payees at the moment<br>Add your first payee to quickly transfer funds</p>
              <div class="d-flex justify-content-center">
                <p class="primary-font-color mt-2"><a routerLink="/statement">+ Add a payee</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  