<div class="row customerInfo p-3 ps-1">
    <div class="h5 p-0">
        <img src="/assets/img/icons/arrow-left.svg" alt="" (click)="back()" >Settings
    
        <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
        Appearance
    </div>
</div>


<div class="row">
    <div class="col-12">
      <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5" data-aos="fade-up" data-aos-duration="1000">
      

        <div class="col">
            <h4 class="p-0 m-0">Appearance</h4>
            <p class="pt-2">Turn on dark mode, or let Alfa automatically apply your device settings</p>
        </div>

        <div class="row d-flex">

            <div class="col-md-4 col-lg-4 col-sm-12  ms-0 " > 

                <div class="payeeBox p-3 mt-2" style="height: 100px;">
                    
                    <div class="d-flex justify-content-between">
                        <img class="wallet" src="/assets/img/icons/setting/system_appearance.svg" />
                        <input type="radio" name="appearance" id="system" style="width: 14px; height: 14px;" >
                    </div>

                    <div class="d-block mt-3">
                        <div class="text-wrapper">System</div>
                    </div>
                </div>
                
            </div>
    
            <div class="col-md-4 col-lg-4 col-sm-12  ms-0 sm-mt-1" > 

                <div class="payeeBox p-3 mt-2" style="height: 100px;">
                    
                    <div class="d-flex justify-content-between">
                        <img class="wallet" src="/assets/img/icons/setting/light.svg" />
                        <input type="radio" name="appearance" id="light" style="width: 14px; height: 14px;" >
                    </div>

                    <div class="d-block mt-3">
                        <div class="text-wrapper">Light</div>
                    </div>
                </div>
                
            </div>
    
            <div class="col-md-4 col-lg-4 col-sm-12 ms-0 sm-mt-1"> 

                <div class="payeeBox p-3 mt-2" style="height: 100px;">
                    
                    <div class="d-flex justify-content-between">
                        <img class="wallet" src="/assets/img/icons/setting/dark.svg" />
                        <input type="radio" name="appearance" id="dark" style="width: 14px; height: 14px;" >
                    </div>

                    <div class="d-block mt-3">
                        <div class="text-wrapper">Dark</div>
                    </div>
                </div>
                
            </div>

        </div>

        <div class="col mt-4">
            <h4 class="p-0 m-0">Theme</h4>
            
        </div>

        <div class="row d-flex mt-2">

            <div class="col-md-6 col-lg-6 col-sm-12  ms-0 " > 

                <div class="payeeBox p-3 mt-2" style="height: 100px;">
                    
                    <div class="d-flex justify-content-between">
                        <img class="wallet" src="/assets/img/icons/conventional-icon.svg"/>
                        <input type="radio" name="theme" id="conventional" style="width: 14px; height: 14px;" >
                    </div>

                    <div class="d-block mt-3">
                        <div class="text-wrapper">Conventional</div>
                    </div>
                </div>
                
            </div>
    
            <div class="col-md-6 col-lg-6 col-sm-12  ms-0 sm-mt-1" > 

                <div class="payeeBox p-3 mt-2" style="height: 100px;">
                    
                    <div class="d-flex justify-content-between">
                        <img class="wallet" src="/assets/img/icons/islamic-icon.svg" />
                        <input type="radio" name="theme" id="islamic" style="width: 14px; height: 14px;" >
                    </div>

                    <div class="d-block mt-3">
                        <div class="text-wrapper">Islamic</div>
                    </div>
                </div>
                
            </div>
    
         

        </div>

      </div>
    </div>
</div>