<div class="row customerInfo" > 

    <div class="col-md-4 col-sm-12 col-xs-12">
        <!-- LoggedIn User -->
            <app-userdetails></app-userdetails>
        <!-- LoggedIn User -->    
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12">
        <!-- Orbit details  -->
        <app-orbits-section/>
        <!-- Orbit details  -->
    </div>

    <div class="col-md-4 col-sm-12 mb-2 mb-lg-0 col-xs-12">
        <!-- search area -->
        <app-search/>
        <!-- search area -->
    </div>
    
</div>