<div role="dialog" id="ConfirmModal" class="confirm_modal">
    <div class="modal-dialog p-3 modal-md" role="document" data-aos="zoom-in" data-aos-duration="1000">

        <div class="modal-content" style="width: 700px;">
            <div class="modal-body" style="border: 0px;">
                <div class="row p-3 pb-0 pt-0">
                    <div class="d-flex justify-content-between align-items-center align-content-center">
                        <h4 style="margin-bottom: 0px;">Tax management</h4>
                        <i class="fa fa-close fa-lg pt" data-bs-dismiss="modal" style="cursor: pointer;"
                            (click)="closeModal()"></i>
                    </div>
                    <div class="d-block">
                        <p></p>
                    </div>
                </div>

                <div class="row p-3">
                    <div class="col-12">
                        <div class="frame">
                            <div class="div d-flex" style="display: flex; flex-direction: row; align-items: center;">
                                <div class="pe-2"><img src="/assets/img/icons/befiler.svg"></div>
                                <div style="display: flex; align-items: center;">
                                    <h6 style="margin-bottom: 0px;">File my taxes</h6>
                                </div>
                            </div>
                            <img class="tabler-icon" src="/assets/img/icons/go-to-next-right.svg" />
                        </div>
                    </div>

                    <div class="col-12 mt-2">
                        <div class="frame">
                            <div class="div d-flex" style="display: flex; flex-direction: row; align-items: center;">
                                <div class="pe-2"><img src="/assets/img/icons/tax-statement.svg"></div>
                                <div style="display: flex; align-items: center;">
                                    <h6 style="margin-bottom: 0px;">Withholding tax statement</h6>
                                </div>
                            </div>
                            <img class="tabler-icon" src="/assets/img/icons/go-to-next-right.svg" />
                        </div>
                    </div>

                    
                    <div class="col-12 mt-2">
                        <div class="frame">
                            <div class="div d-flex" style="display: flex; flex-direction: row; align-items: center;">
                                <div class="pe-2"><img src="/assets/img/icons/tax-certificate.svg"></div>
                                <div style="display: flex; align-items: center;">
                                    <h6 style="margin-bottom: 0px;">Withholding tax certificate</h6>
                                </div>
                            </div>
                            <img class="tabler-icon" src="/assets/img/icons/go-to-next-right.svg" />
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>