<div class="row customerInfo p-3 ps-1">
    <div style="display: flex; justify-content: space-between;">
        <div class="h4">Apply for a new loan</div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <!-- <img src="assets/img/icons/cancel.svg"> -->
        </div>
    </div>
</div>


<!-- stepper -->

<div class="row">
    <div class="col-12">
        <div class="col-lg-6 col-md-9 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5 " data-aos="fade-up"
            data-aos-duration="1000">

            <div class="d-flex">
                <div class="col">
                    <h4 class="p-0 m-0">Home Loan Application</h4>
                    <p class="p-0 m-0">Please fill out the form below and our team will contact you in 24-48 hours to
                        finalize the loan!</p>
                </div>
            </div>

            <div class="mt-3">
                <label for="fullName"><b>Full Name</b></label>
                <input type="text" id="fullName" placeholder="Muhammad Ali Ashraf" class="form-control">
            </div>

            <div class="mt-3">
                <label for="mobileNumber"><b>Mobile Number</b></label>

                <div class="row">

                    <div class="col-3">

                    </div>
                    <div class="col-9">

                    </div>
                </div>

                <div class="input-group">

                    <div class="col-3">
                        <select id="countryCode" class="form-control"
                            style="border-top-right-radius:  0; border-bottom-right-radius: 0;">
                            <option value="+92">+92 (Pakistan)</option>
                            <option value="+1">+1 (USA)</option>
                            <option value="+44">+44 (UK)</option>
                            <option value="+91">+91 (India)</option>
                            <!-- Add more country codes as needed -->
                        </select>
                    </div>

                    <div class="col-9">
                        <input type="text" style="border-top-left-radius:  0; border-bottom-left-radius: 0;"
                            id="mobileNumber" placeholder="333 4409234" class="form-control col-9">

                    </div>
                </div>
            </div>


            <div class="mt-3">
                <label for="cnicNumber"><b>CNIC Number</b></label>
                <input type="text" id="cnicNumber" placeholder="35202-1219310-1" class="form-control">
            </div>

            <div class="mt-3">
                <label for="currentCity"><b>Current City</b></label>
                <select id="currentCity" class="form-control form-select">
                    <option value="Lahore">Lahore</option>
                    <option value="Karachi">Karachi</option>
                    <option value="Islamabad">Islamabad</option>
                    <option value="Peshawar">Peshawar</option>
                    <!-- Add more cities as needed -->
                </select>
            </div>

            <div class="mt-3">
                <label for="currentAddress"><b>Current Address</b></label>
                <input type="text" id="currentAddress" placeholder="Enter address" class="form-control">
            </div>

            <div class="mt-3">
                <label for="email"><b>Email Address (optional)</b></label>
                <input type="email" id="email" placeholder="muhammad.ali@gmail.com" class="form-control">
            </div>

            <div class="mt-4">
                <a routerLink="/loans/apply-new-loan/success" style="color: white;">      <button class="w-100 btn btn-lg btn-danger">Apply Now <img src="/assets/img/icons/arrow-right-white.svg" alt=""></button>
                </a>
           </div>




        </div>
    </div>
</div>