<h3>
    Confirm details
</h3>

<p>
    Please confirm the mobile top-up details below before you pay
</p>

<div class="col-12 generalBox p-3">
    <p class="p-0 m-0">From</p>
    <div class="d-flex justify-content-between">
        <p class="p-0 m-0"><b>Account</b></p> <p class="p-0 m-0">{{item}}</p>
    </div>
</div>

<div class="col-12 generalBox p-3 mt-2">
    <div class="d-flex justify-content-between">
        <p class="p-0 m-0">To</p> <img src="/assets/img/icons/edit-red.svg" alt="">
    </div>
    <p><b>03002302301</b></p>
    <div class="d-flex justify-content-start">
        <img src="/assets/img/icons/jazz-logo.svg" alt="">
        <div class="align-self-center align-item-center">
            <p class="p-0 m-0 ps-2"><b>Jazz</b></p>
        </div>
    </div>
</div>

<div class="col-12 generalBox p-3 mt-2">
    <div class="d-flex justify-content-between">
        <p class="p-0 m-0">Amount</p> <img src="/assets/img/icons/edit-red.svg" alt="">
    </div>
    
    <div class="d-flex">
        <h2>500</h2>
        <p class="p-0 m-0">PKR</p>
    </div>
</div>

<div class="col-12 generalBox p-3 mt-2 pb-0">
    <!-- <div class="d-flex bd-highlight p-0 m-0">
        <div class="bd-highlight">
            <img src="/assets/img/icons/timer-icon.svg" alt="">
        </div>
        <div class="bd-highlight">
            <p><b>Payment frequency</b></p>
        </div>
        <div class="ms-auto bd-highlight">
            <p class="">Just Now</p>
        </div>
    </div> -->
    @if(splitPayment){

        <div style="background-color: #F8F8F8;" class="p-2">
            <p><b>Payment Sources</b></p>
            
            <p class="p-0 m-0"><b>Account</b></p>

            <div class="d-flex justify-content-between">
                <p class="p-0 m-0">57431231663731</p>
                <p class="p-0 m-0">PKR 250/200</p>
            </div>

            <p class="p-0 m-0"><b>Credit Card</b></p>

            <div class="d-flex justify-content-between">
                <p class="p-0 m-0">57431231663731</p>
                <p class="p-0 m-0">PKR 250/200</p>
            </div>

        </div>
    }
    
</div>

<!-- child to parent -->
<label for="item-input">Add an item:</label>
<input type="text" id="item-input" #newItem>
<button type="button" (click)="addNewItem(childValue)">Add to parent's list</button>
