<div role="dialog" id="ConfirmModal" class="confirm_modal" >
    <div class="modal-dialog p-3 modal-md" role="document" data-aos="zoom-in" data-aos-duration="1000">

        <div class="modal-content" style="width: 500px;">
            <div class="modal-body" style="border: 0px;">
                <div class="row p-3 pb-0 pt-0">
                    <div class="text-center">
                        <img src="/assets/img/icons/otp-phone.svg" alt="">
                    </div>

                    <h3>
                        Verify OTP
                    </h3>
                    <p>
                        Please enter the code we’ve sent to your mobile number *********83 below
                    </p>

                    <div class="col-12 mt-3">
                        <label for="">OTP</label>
                        <input type="password" name="" id="" class="form-control mt-1" placeholder="****" >
                    </div>

                    <div class="col-12 mt-4">
                        <button class="w-100 btn btn-lg btn-danger">Pay PKR 2350/- <img src="/assets/img/icons/check-small.svg" alt=""></button>
                    </div>

                    <p style="color: #5D5D5D;" class="text-center mt-2">
                        Resend OTP in 00:40
                    </p>     
                </div>
        
                
            </div>
        </div>
    </div>
</div>