<div class="row customerInfo p-3 ps-1">
    <div class="h5 p-0">
        <img src="/assets/img/icons/arrow-left.svg" alt="" (click)="back()" >Settings
    
        <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
        Login and security
    </div>
</div>

<div class="row">
    <div class="col-12">
      <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5" data-aos="fade-up" data-aos-duration="1000">
      

        <div class="col">
            <h4 class="p-0 m-0">Login and security</h4>
        </div>

        <div class="col mt-4">
            <div class="h-100 w-100 payeeBox mt-2">

                <div class="d-flex bd-highlight p-2 pb-0">
                    <div class="p-1 bd-highlight"><img src="/assets/img/icons/change-password-icon.svg" alt=""></div>
                    <div class="p-1 bd-highlight"> <p><b>Change account password</b></p></div>
                    <div class="ms-auto p-1 bd-highlight"> 
                        <img src="/assets/img/icons/caret-right.svg" alt="">
                    </div>
                </div>

            </div>
        </div>

        <div class="col mt-4">
            <button class="w-100 btn btn-lg btn-danger" (click)="blockCard()" >Block Alfa  <img src="/assets/img/icons/block-alfa.svg" alt="" ></button>
        </div>


      </div>
    </div>
</div>