<div class="row customerInfo p-3 ps-1">
    <div class="h5 p-0">
        <img src="/assets/img/icons/arrow-left.svg" alt="" (click)="back()" >Settings
    
        <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
        Profile
    </div>
</div>

<div class="row mb-5 h-100">
    <div class="col-12 mb-5">
      <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5" data-aos="fade-up" data-aos-duration="1000">
      
        <div class="col">
            <h4 class="p-0 m-0">Profile</h4>
        </div>

        <div class="col text-center">
            <img src="/assets/img/icons/setting/avatar.svg" alt="">
        </div>

        <div class="col mt-4">
            <div class="h-100 w-100 payeeBox mt-2">

                <div class="d-block bd-highlight p-3 pb-0 ps-3">
                    <p class="p-0 m-0">Name</p>
                    <p class="p-0 m-0 pb-2">
                        <b>Muhammad Ali Ashraf</b>
                    </p>
                </div>
            </div>

            <div class="h-100 w-100 payeeBox mt-2">
                <div class="d-block bd-highlight p-3 pb-0 ps-3">
                    <p class="p-0 m-0">Username</p>
                    <p class="p-0 m-0 pb-2">
                        <b>Muhammad Ali Ashraf</b>
                    </p>
                </div>
            </div>

            <div class="h-100 w-100 payeeBox mt-2">
                <div class="d-block bd-highlight p-3 pb-0 ps-3">
                    
                    <div class="d-flex justify-content-between align-items-center align-self-start">
                        <p class="p-0 m-0">Email address</p>

                        <img src="/assets/img/icons/setting/edit-gray.svg" alt=""  (click)="updateEmailModal()">
                    </div>
                    
                    <p class="p-0 m-0 pb-2">
                        <b>aligmail.com</b>
                    </p>
                    
                </div>
            </div>

            <div class="h-100 w-100 payeeBox mt-2">
                <div class="d-block bd-highlight p-3 pb-0 ps-3">
                    
                    <div class="d-flex justify-content-between align-items-center align-self-start">
                        <p class="p-0 m-0">Mailing address</p>

                        <img src="/assets/img/icons/setting/edit-gray.svg" alt=""  (click)="updateMailingAddressModal()"> 
                    </div>
                    
                    <p class="p-0 m-0 pb-2">
                        <b>House no. 494, Main Road Gulberg, Peshawar Cantt.</b>
                    </p>
                    
                </div>
            </div>

            <div class="h-100 w-100 payeeBox mt-2">
                <div class="d-block bd-highlight p-3 pb-0 ps-3">
                    
                    <div class="d-flex justify-content-between align-items-center align-self-start">
                        <p class="p-0 m-0">Mobile number</p>

                        <img src="/assets/img/icons/setting/edit-gray.svg" alt=""  (click)="updateMobileNumberModal()">
                    </div>
                    
                    <p class="p-0 m-0 pb-2">
                        <b>03209213041</b>
                    </p>
                    
                </div>
            </div>
        </div>

      </div>
    </div>
</div>