<div class="row customerInfo p-3 ps-1">
    <div class="h5 p-0">
        <img src="/assets/img/icons/arrow-left.svg" alt="" (click)="back()" >Cards
    
        <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
        Credit card facilities

         <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
         Change contact details
    </div>
</div>


<div class="row">
    <div class="col-12">
      <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5" data-aos="fade-up" data-aos-duration="1000">



        <div class="d-flex">
            <div class="col">
                <h4 class="p-0 m-0">Change contact details</h4>
            </div>

        </div>

        <div class="mt-3">

            <label for="Send to"><b>Select credit card</b></label>

            <div class="h-100 w-100">
                <mat-form-field class="w-100">
                    <mat-label>Bank Alfalah Gold Credit Card</mat-label>
                    <mat-select>
                        <mat-option value="option1">57431231663731</mat-option>
                        <mat-option value="option2">57431231663731</mat-option>
                        <mat-option value="option3">57431231663731</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        
        <div class="mt-2">
            <div class="d-flex justify-content-between align-items-center">
                <label><b>Title</b></label>
         
            </div>

            <input type="text" name="" placeholder="Please enter title
            " id="" class="form-control">
        </div>


        <div class="mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <label><b>Full name</b></label>
         
            </div>

            <input type="text" name="" placeholder="Please enter full name
            " id="" class="form-control">
        </div>

        <div class="mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <label><b>Email address</b></label>
         
            </div>

            <input type="text" name="" placeholder="Please enter email address
            " id="" class="form-control">
        </div>

        <div class="mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <label><b>Mobile number</b></label>
         
            </div>

            <input type="text" name="" placeholder="Please enter mobile number
            " id="" class="form-control">
        </div>

        <div class="mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <label><b>Home address</b></label>
         
            </div>

            <input type="text" name="" placeholder="Please enter home address
            " id="" class="form-control">
        </div>

        <div class="mt-3">
            <label><b>City</b></label>
            <select name="" id="" class="form-control form-select">
                <option value="">Select City</option>
                <option value="">Karachi</option>
                <option value="">Lahore</option>
                <option value="">Islamabad</option>
            </select>
        </div>

        <div class="mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <label><b>Landline number</b></label>
         
            </div>

            <input type="text" name="" placeholder="Please enter landline number
            " id="" class="form-control">
        </div>

        <div class="mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <label><b>Company</b></label>
         
            </div>

            <input type="text" name="" placeholder="Please enter company
            " id="" class="form-control">
        </div>

        <div class="mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <label><b>Designation</b></label>
         
            </div>

            <input type="text" name="" placeholder="Please enter designation
            " id="" class="form-control">
        </div>

        <div class="mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <label><b>Company address</b></label>
         
            </div>

            <input type="text" name="" placeholder="Please enter company address
            " id="" class="form-control">
        </div>

        <div class="mt-3">
            <label><b>Company city</b></label>
            <select name="" id="" class="form-control form-select">
                <option value="">Select company city</option>
                <option value="">Karachi</option>
                <option value="">Lahore</option>
                <option value="">Islamabad</option>
            </select>
        </div>

        <div class="mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <label><b>Company landline number</b></label>
         
            </div>

            <input type="text" name="" placeholder="Please enter company landline number
            " id="" class="form-control">
        </div>

        <div class="mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <label><b>Company fax number</b></label>
         
            </div>

            <input type="text" name="" placeholder="Please enter company fax number
            " id="" class="form-control">
        </div>


        <div class="row d-flex mt-3">

            <div class="col-md-6 col-lg-6 col-sm-12  ms-0 " > 

                <div class="payeeBox p-3 mt-2" style="height: 80px; ">
                    
                    <div class="d-flex justify-content-start">
                        <input type="radio" checked  name="IDType" id="bafl" style="width: 14px; height: 14px;" >
                    </div>

                    <div class="d-block mt-3">
                        <div class="text-wrapper">Home</div>
                    </div>
                </div>
                
            </div>
    
            <div class="col-md-6 col-lg-6 col-sm-12  ms-0 sm-mt-1" > 

                <div class="payeeBox p-3 mt-2" style="height: 80px;">
                    
                    <div class="d-flex justify-content-between">
                        <input type="radio"  name="IDType" id="otherbank" style="width: 14px; height: 14px;" >
                    </div>

                    <div class="d-block mt-3">
                        <div class="text-wrapper">Office/Company</div>
                    </div>
                </div>
                
            </div>
  
        </div>


        <div class="mt-3 mb-1">
            <button class="w-100 btn btn-lg btn-danger" (click)="successModal()">Submit <img
                src="/assets/img/icons/arrow-right-white.svg" alt=""></button>
        </div>


        

      </div>        
    </div>
</div>