<div class="modal-container">
    <div class="modal-header">
      <div class="modal-title">Contact us</div>
      <div class="modal-close">
        <i class="fa fa-close fa-lg pt" data-bs-dismiss="modal" style="cursor: pointer;" (click)="closeModal()"></i>
      </div>
    </div>
    <div class="modal-subtitle">
      Feel free to contact us - we are at your service and eager to assist.
    </div>
    <div class="modal-body">
      <div class="contact-item">
        <div class="contact-info">
          <div class="contact-label">Helpline</div>
          <div class="contact-detail">+92 021 111-225-224</div>
        </div>
        <div class="contact-icon"><img src="/assets/img/icons/setting/helpline.svg"></div>
      </div>
      <div class="contact-item">
        <div class="contact-info">
          <div class="contact-label">Website</div>
          <div class="contact-detail">www.bankalfalah.com</div>
        </div>
        <div class="contact-icon"><img src="/assets/img/icons/setting/helpline.svg"></div>
      </div>
      <div class="contact-item">
        <div class="contact-label">Social media</div>
        <div class="social-icons">
          <div class="social-icon"><img src="/assets/img/icons/setting/facebook.svg"></div>
          <div class="social-icon"><img src="/assets/img/icons/setting/twitter.svg"></div>
          <div class="social-icon"><img src="/assets/img/icons/setting/instagram.svg"></div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="live-chat-button">
        <div class="chat-icon"><img src="/assets/img/icons/setting/live-chat.svg"></div>
        <div class="chat-text">Start live chat</div>
      </div>
    </div>
  </div>