<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="scrollbar">
      <app-logo></app-logo>

      <div class="sidebar-brand sidebar-brand-sm pt-1" style="line-height: 35px">
        <a href="#">
          <img src="assets/img/logos/Alfaweb2.png" />
        </a>

        <div class="toggle-sidebar border-bottom">
          <a data-toggle="sidebar"
            ><i class="fas fa-arrow-right" style="font-size: larger"></i
          ></a>
        </div>
      </div>

      <app-menu></app-menu>

      <div class="mt-4 mb-0 p-3 pb-2 hide-sidebar-mini text-center">
        <a href="https://www.bankalfalah.com" target="_blank">
          <img src="assets/img/logos/bal-logo.png" />
        </a>
      </div>

      <div class="mt-1 text-center">
        <button class="btn primary-font-color">Log out <img src="/assets/img/icons/log-out-icon.svg" alt=""> </button>
      </div>
    </div>
  </aside>
</div>
