<div class="row customerInfo p-3 ps-1">
    <div class="h5 p-0"><img src="/assets/img/icons/arrow-left.svg" alt="" (click)="back()" >Prepaid Top-Up</div>
</div>
<div>
    <!-- stepper -->

    <div class="horizontal-progress mt-3 d-flex flex-wrap">
        <div class="progress-bar-item ps-1 pe-1 ">
          <div class="frame" [style.background-color]="step1"><div class="text-wrapper">1</div></div>
          <div class="title ps-1">Recipient</div>
        </div>
        <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
        <div class="progress-bar-item  ps-1 pe-1 ">
          <div class="element-wrapper" [style.background-color]="step2" ><div class="element">2</div></div>
          <div class="div ps-1">Amount</div>
        </div>
        <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
        <div class="progress-bar-item  ps-1 pe-1 ">
          <div class="element-wrapper" [style.background-color]="step3" ><div class="element">3</div></div>
          <div class="div ps-1">Payment Source</div>
        </div>
        <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
        <div class="progress-bar-item  ps-1 pe-1 mt-2 mt-sm-0">
          <div class="element-wrapper" [style.background-color]="step4" ><div class="element">4</div></div>
          <div class="div ps-1">Confirm details</div>
        </div>
        <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
        <div class="progress-bar-item  ps-1 pe-1 mt-2 mt-sm-0">
          <div class="element-wrapper" [style.background-color]="step5" ><div class="element">5</div></div>
          <div class="div ps-1">Verification</div>
        </div>
    </div>

    <!-- stepper -->

    <div class="row">
        <div class="col-12">
          <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5 " data-aos="fade-up" data-aos-duration="1000">

            <mat-stepper [linear]="isLinear" #stepper>
            
                <mat-step [stepControl]="firstFormGroup">
                
                    <form [formGroup]="firstFormGroup">
                        <h3>
                            Enter the mobile number
                        </h3>
                        <p>
                            Please enter the mobile number you want to top up
                        </p>
            
                        <div class="col-12 mt-3">
                            <label for=""><b>Mobile number</b></label>
                            <input type="text" name="" id="" class="form-control mt-1" placeholder="03XXXXXXXXX">
                        </div>
            
                        <div class="col-12">
                            <div class="col h-25 mt-3 payeeBox">
                                <div class="d-flex p-3">
                                    <img src="/assets/img/icons/jazz-logo.svg" alt="">
                
                                    <div class="ps-2 align-self-center align-item-center">
                                        <p class="p-0 m-0"><b>Mobilink Jazz</b></p>
                                       
                                    </div>
                
                                    <div class="col text-end align-self-center align-item-center">
                                        <img src="/assets/img/icons/edit-red.svg" alt="">
                                        <span class="primary-font-color p-1"  data-toggle="modal" (click)="networkModal();" ><b>Edit</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="col h-25 mt-3 payeeBox">
                                <div class="d-flex p-3">
                                    <img src="/assets/img/icons/user-icon.svg" alt="">
                
                                    <div class="ps-2 align-self-center align-item-center">
                                        <p class="p-0 m-0"><b>Add as payee</b></p>
                                       
                                    </div>
                
                                    <div class="col text-end align-self-center align-item-center">
                                        <mat-slide-toggle
                                            class="example-margin"
                                            [color]="color"
                                            [checked]="checked"
                                            [disabled]="disabled"
                                            formControlName="acceptTerms"
                                            
                                            data-toggle="modal">
                                        
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                
                            </div>
                        </div>

                        <div class="col-12 mt-3">
                            <label for=""><b>Payee name</b></label>
                            <input type="text" name="" id="" class="form-control mt-1" placeholder="Ali">
                        </div>

                        <div class="col-12 mt-3">
                            <button class="w-100 btn btn-lg btn-danger" matStepperNext (click)="updateStepper(1)" >Continue  <img src="/assets/img/icons/arrow-right-white.svg" alt="" ></button>

                            <!-- Error Mobile Network modal -->
                            <!-- <button class="w-100 btn btn-lg btn-danger" data-toggle="modal" (click)="networkErrorModal()" >Continue  <img src="/assets/img/icons/arrow-right-white.svg" alt="" ></button> -->
                        </div>
                    
                    </form>

                </mat-step>

                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">              
                        <h3>
                            Choose an amount
                        </h3>
                        <p>
                            Please enter an amount from PKR 100 - 10,000
                        </p>

                        <div class="col-12">
                            <input type="text" class="form-control" placeholder="PKR 0">
                        </div>

                        <div class="col-12 mt-2">
                            <mat-chip-listbox aria-label="Satement Selection" >
                                <mat-chip-option color="warn">100</mat-chip-option>
                                <mat-chip-option color="warn">250</mat-chip-option>
                                <mat-chip-option color="warn">500</mat-chip-option>
                                <mat-chip-option color="warn">1000</mat-chip-option>
                            </mat-chip-listbox>
                        </div>

                        <div class="col-12">
                            <div class="col h-25 mt-3 generalBox">
                                <div class="d-flex p-3">
                                    <img src="/assets/img/icons/split-icon.svg" alt="">
                
                                    <div class="ps-2 align-self-center align-item-center">
                                        <p class="p-0 m-0"><b>Split PKR 500</b></p>
                                       
                                    </div>
                
                                    <div class="col text-end align-self-center align-item-center">
                                        <mat-slide-toggle
                                            class="example-margin"
                                            [color]="color"
                                            [checked]="checked"
                                            [disabled]="disabled"
                                            formControlName="acceptTerms"
                                            
                                            data-toggle="modal">
                                        
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                
                            </div>
                        </div>

                        <div class="mt-4">
                            <!-- <img src="/assets/img/icons/cross-circle-red.svg" alt="" class="me-2"> <span>Not repeating numbers like 1111 etc.</span> -->

                            <button class="w-100 btn btn-lg btn-danger" matStepperNext (click)="updateStepper(2)" >Continue  <img src="/assets/img/icons/arrow-right-white.svg" alt="" ></button>
                        </div>

                    </form>
                </mat-step>

                <mat-step [stepControl]="thirdFormGroup">
                    <form [formGroup]="thirdFormGroup">
                    
                        <h3>
                            Payment source
                        </h3>
                        <p>
                            {{isSplitPayment ? 'Please choose at least 2 payment sources from the options available below' : 'Please choose a payment source from the options available below'}}    
                        </p>
                    
                        @if(isAlertActive){
                            <app-alert [alertType]="warning" [alertMsg]="msg" [alertIcon]="icon" />
                        }
                        

                        <div class="col-12">
                            <p class="p-0 m-0">
                                <b>Accounts</b>
                             </p>
                            
                            <div class="frame mt-3">
                                <div class="content">
                                    
                                    @if(isSplitPayment){
                                        <input type='checkbox' (change)="showInput($event,1)" name='' id='' style='width: 20px; height: 20px;' >
                                    }
                                    
                                    <div class="div">
                                        <div class="text-wrapper"><b>Muhammad Ali Ashraf</b></div>
                                        <div class="text-wrapper-2">57431231663731</div>
                                    </div>
                                </div>
                                <div class="div-2">
                                    <div class="text-wrapper">
                                        PKR 400,000
                                    </div>
                                    <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
                                </div>
                            </div>

                            @if(inputText1){

                                <div class="d-flex justify-content-end  mt-2 ">
                                    <label for="pkr" class="align-item-center align-content-center align-self-center p-1">PKR</label>
                                    <input type="text" name=""  id="" class="form-control w-25">
                                </div>
                            }
                            

                            <div class="frame mt-3">
                                <div class="content">
                                    
                                    <div class="div">
                                        <div class="text-wrapper"><b>Muhammad Ali Ashraf</b></div>
                                        <div class="text-wrapper-2">57431231663731</div>
                                    </div>
                                </div>
                                <div class="div-2">
                                    <div class="text-wrapper">
                                        PKR 400,000
                                    </div>
                                    <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
                                </div>
                            </div>

                            <div class="frame mt-3">
                                <div class="content">
                                    
                                    <div class="div">
                                        <div class="text-wrapper"><b>Muhammad Ali Ashraf</b></div>
                                        <div class="text-wrapper-2">57431231663731</div>
                                    </div>
                                </div>
                                <div class="div-2">
                                    <div class="text-wrapper">
                                        PKR 400,000
                                    </div>
                                    <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
                                </div>
                            </div>

                        </div>

                        <div class="col-12">
                            <p class="mt-3">
                                <b>Credit Cards</b>
                             </p>
                            
                             <div class="frame mt-3">
                                <div class="content">
                                    
                                    @if(isSplitPayment){
                                        <input type='checkbox' (change)="showInput($event,2)" name='' id='' style='width: 20px; height: 20px;' >
                                    }

                                    <div class="div">
                                        <div class="text-wrapper"><b>Optimus</b></div>
                                        <div class="text-wrapper-2">57431231663731</div>
                                    </div>
                                </div>
                                <div class="div-2">
                                    <div class="text-wrapper">
                                        PKR 400,000
                                    </div>
                                    <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
                                </div>
                            </div>
                            @if(inputText2){

                                <div class="d-flex justify-content-end  mt-2 ">
                                    <label for="pkr" class="align-item-center align-content-center align-self-center p-1">PKR</label>
                                    <input type="text" name=""  id="" class="form-control w-25">
                                </div>
                            }
                            

                            <div class="frame mt-3">
                                <div class="content">
                                    
                                    <div class="div">
                                        <div class="text-wrapper"><b>Platinum</b></div>
                                        <div class="text-wrapper-2">57431231663731</div>
                                    </div>
                                </div>
                                <div class="div-2">
                                    <div class="text-wrapper">
                                        PKR 400,000
                                    </div>
                                    <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-12">
                            <p class="mt-3">
                                <b>Wallets</b>
                             </p>
                            
                             <div class="frame mt-3">
                                <div class="content">
                                    
                                    <div class="div">
                                        <div class="text-wrapper"><b>Wallet</b></div>
                                        <div class="text-wrapper-2">57431231663731</div>
                                    </div>
                                </div>
                                <div class="div-2">
                                    <div class="text-wrapper">
                                        PKR 120,000
                                    </div>
                                    <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
                                </div>
                            </div>
                        </div>
        
                        <div class="col-12">
                            <p class="mt-3">
                                <b>Orbit</b>
                             </p>
                            
                             <div class="frame mt-3">
                                <div class="content">
                                    <div class="div">
                                        <div class="text-wrapper"><b>Orbit</b></div>
                                        <div class="text-wrapper-2">Points: 2300</div>
                                    </div>
                                </div>
                                <div class="div-2">
                                    <div class="text-wrapper">
                                        PKR 2300
                                    </div>
                                    <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            
                            <button class="w-100 btn btn-lg btn-danger" matStepperNext (click)="updateStepper(3)" >Continue  <img src="/assets/img/icons/arrow-right-white.svg" alt="" ></button>
                        </div>
                    </form>
                </mat-step>

                <mat-step [stepControl]="fourthFormGroup">
                    <form [formGroup]="fourthFormGroup">

                        <app-confirm-details/>
                    
                        <div class="mt-4">
                            
                            <button class="w-100 btn btn-lg btn-danger" matStepperNext (click)="updateStepper(4)" >Continue  <img src="/assets/img/icons/arrow-right-white.svg" alt="" ></button>
                        </div>
                    </form>
                </mat-step>

                <mat-step [stepControl]="fifthFormGroup">

                      <div class="text-center">
                            <img src="/assets/img/icons/otp-phone.svg" alt="">
                        </div>

                        <h3>
                            Verify OTP
                        </h3>
                        <p>
                            Please enter the code we’ve sent to your mobile number *********83 below
                        </p>

                        <div class="col-12 mt-3">
                            <label for="">OTP</label>
                            <input type="password" name="" id="" class="form-control mt-1" placeholder="****" >
                        </div>

                        <div class="col-12 mt-4">
                            <button class="w-100 btn btn-lg btn-danger" (click)="updateStepper(4); receiptModal();">Pay PKR 2350/- <img src="/assets/img/icons/check-small.svg" alt=""></button>
                        </div>

                        <p style="color: #5D5D5D;" class="text-center mt-2">
                            Resend OTP in 00:40
                        </p>                    

                </mat-step>

                <mat-step [stepControl]="sixthFormGroup">
                    <div class="row mt-2 justify-content-center">
                        <img src="/assets/img/icons/Rocket.png" alt="" class="w-25 mb-2">
                    </div>
                    

                    <h3 class="mt-4">Card PIN set successfully!</h3>
                    <p>Your card is now active and ready to use for payments and  withdrawals.</p>

                    <div class="col-12 mt-4">
                        <button class="w-100 btn btn-lg btn-danger" routerLink="/cards" >Go to cards <i class="fa fa-arrow-right"></i></button>
                    </div>
                </mat-step>

            </mat-stepper>
          </div>
        </div>
    </div>