<div class="row customerInfo p-3 ps-1">
    <div class="h5 p-0">
      <img src="/assets/img/icons/arrow-left.svg" alt="" (click)="back()">Settings
  
      <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
      User Activity
    </div>
</div>

<div class="row">
    <div class="col-12">
      <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-4" data-aos="fade-up" data-aos-duration="1000">
      

        <div class="col">
            <h4 class="p-0 m-0">Digital activity</h4>
        </div>

        <form class="form-inline justify-content-lg-end">
            <div class="search-element mt-2">
      
              <div class="">
                <div class="input-icons">
                  <i class="fa fa-search icon"></i>
                  <input type="text" class="form-control ps-5" placeholder="Type here to search..."
                    style="border-radius: 22px;">
                </div>
              </div>
      
            </div>
          </form>

      </div>
    </div>
</div>
  
  <div class="row p-3 ps-1">
  
    <div class="col-6 justify-content-center" style="margin: auto;">
      <mat-tab-group>
        <mat-tab label="30 days">
  
          <div class="col-12 mt-3">
            <mat-chip-listbox aria-label="Satement Selection">
  
              <mat-chip-option selected color="warn">All</mat-chip-option>
              <mat-chip-option color="warn">Transactions</mat-chip-option>
              <mat-chip-option color="warn">Other</mat-chip-option>
  
            </mat-chip-listbox>
  
          </div>
  
          <div class="col-12 mt-3">
            <div style="margin: auto; overflow-y: auto; max-height: 520px;">
  
              <div class="card-transaction">
                <p>Successfully logged in on registered device against mobile number ending in *5423</p>
                <div style="display: flex; flex-direction: inline; justify-content: space-between; padding-top: 10px;">
                  <div>
                    <p>11:00 AM</p>
                  </div>
                  <div>
                    <p>Sept 26th, 2023</p>
                  </div>
                </div>
              </div>
              <div class="card-transaction">
                <p>Successfully logged in on registered device against mobile number ending in *5423</p>
                <div style="display: flex; flex-direction: inline; justify-content: space-between; padding-top: 10px;">
                  <div>
                    <p>11:00 AM</p>
                  </div>
                  <div>
                    <p>Sept 26th, 2023</p>
                  </div>
                </div>
              </div>
              <div class="card-transaction">
                <p>Successfully logged in on registered device against mobile number ending in *5423</p>
                <div style="display: flex; flex-direction: inline; justify-content: space-between; padding-top: 10px;">
                  <div>
                    <p>11:00 AM</p>
                  </div>
                  <div>
                    <p>Sept 26th, 2023</p>
                  </div>
                </div>
              </div>
              <div class="card-transaction">
                <p>Successfully logged in on registered device against mobile number ending in *5423</p>
                <div style="display: flex; flex-direction: inline; justify-content: space-between; padding-top: 10px;">
                  <div>
                    <p>11:00 AM</p>
                  </div>
                  <div>
                    <p>Sept 26th, 2023</p>
                  </div>
                </div>
              </div>
  
  
  
              <div class="card-transaction">
                <p>Successfully logged in on registered device against mobile number ending in *5423</p>
                <div style="display: flex; flex-direction: inline; justify-content: space-between; padding-top: 10px;">
                  <div>
                    <p>11:00 AM</p>
                  </div>
                  <div>
                    <p>Sept 26th, 2023</p>
                  </div>
                </div>
              </div>
  
  
  
            </div>
  
          </div>
  
        </mat-tab>
        <mat-tab label="60 days">
  
          <div class="col-12 mt-3">
  
  
          </div>
  
        </mat-tab>
        <mat-tab label="90 days">
  
          <div class="col-12 mt-3">
  
  
          </div>
  
        </mat-tab>
      </mat-tab-group>
    </div>
  
  </div>
  