<div class="card" style="min-height: 330px;" data-aos="zoom-in"> 
    <div class="p-4 pb-0 d-flex justify-content-between ">
        <h4 class="pb-0 mb-0 primary-heading" >  <b>Upcoming bills</b></h4>
    </div> 
    <div class="card-body ps-3 pe-3">
        <div class="row">

            <div class="col-12 p-0">

                <div class="row d-flex align-items-center p-2">
                    <img src="/assets/img/icons/no-outstandings.svg" width="80px" height="80px">
             </div>

            </div>
            <div class="col-12 pt-4">
                <div class="row g-3 p-4">
                    <div style="margin: auto;">

                        <h4 style="text-align: center;">No upcoming bills </h4>

                            <p class="primary-heading" style="text-align: center; ">All good! looks like you have no<br>upcoming bill payments at the moment</p>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>