<div role="dialog" id="DisablePOS" class="confirm_modal" >
    <div class="modal-dialog p-3 modal-md" role="document">

        <div class="modal-content" style="width: 500px;">
            <div class="modal-body" style="border: 0px;">
                <div class="row p-3 pb-0 pt-0">
                    <div class="d-block justify-content-center">
                        <h4>Lock this card?</h4>
                        <p>You will not be able to make transactions or withdraw money till you unlock the card.</p>
                        <!-- <i class="fa fa-close fa-lg pt" data-bs-dismiss="modal" style="cursor: pointer;" (click)="closeModal()"></i> -->
                    </div>
                    <div class="d-block">
                        <p></p>
                    </div>
                </div>
        
                <div class="row p-3">

                    <div class="col-12">
                        <button class="btn btn-lg w-100 btn-danger" (click)="lockCard()">Lock Card</button>

                        <button class="btn btn-lg w-100 btn-outline-dark mt-1" (click)="closeModal()">No</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>