.sub-text{
    color: #5D5D5D;
}


.frame{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #e1e1e1;
    min-width: 226px;
}
