<div class="row customerInfo p-3 ps-1">
    <div class="h5 p-0">
        <img src="/assets/img/icons/arrow-left.svg" alt="" (click)="back()" >Settings
    
        <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
        Account relationship
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5" data-aos="fade-up"
            data-aos-duration="1000">

            <form>
                <div class="text-center">
                    <img src="/assets/img/icons/thumbs-up-frame.svg" alt="">
                </div>

                <h3 class="mt-4 text-center">
                    Successfully unlinked!
                </h3>

                <p class="mt-4 text-center">
                    You account *********2349 has been successfully unlinked.</p>

                <div class="col-12 mt-4 justify-content-center d-flex">
                    <button class="w-75 btn btn-lg btn-danger">Done <img src="/assets/img/icons/check-small.svg"
                            alt=""></button>
                </div>

            </form>

        </div>

    </div>
</div>