.slick-next{
    top: -10% !important;
}

.card-number{
    bottom: 0;
    color: #fff; 
    position: relative;
    top: -100px;
    left: 170px; 
    font-weight:600; 
    font-size:20px; 
    letter-spacing: 3px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
   .card-number{
        font-size: 10px;
        font-weight: 300;
        top: -50px;
        left: 60px; 
        letter-spacing: 2px;
        
        
   }
  }

  @media only screen and (min-width: 600px) {
    /* For tablet phones: */
    .card-number{
        font-size: 16px;
        font-weight: 600;
        top: -120px;
        left: 160px; 
        letter-spacing: 3px;
        
        
    }
  }