<div class="row customerInfo p-3 ps-1">
    <div class="h4 p-0">Bank account transfer</div>
</div>

  <!-- stepper -->

  <div class="horizontal-progress mt-3 d-flex flex-wrap">
    <div class="progress-bar-item ps-1 pe-1 ">
      <div class="frame" [style.background-color]="step1"><div class="text-wrapper">1</div></div>
      <div class="title ps-1">Recipient</div>
    </div>
    <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
    <div class="progress-bar-item  ps-1 pe-1 ">
      <div class="element-wrapper" [style.background-color]="step2" ><div class="element">2</div></div>
      <div class="div ps-1">Amount</div>
    </div>
    <!-- <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
    <div class="progress-bar-item  ps-1 pe-1 ">
      <div class="element-wrapper" [style.background-color]="step3" ><div class="element">3</div></div>
      <div class="div ps-1">Payment Source</div>
    </div> -->
    <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
    <div class="progress-bar-item  ps-1 pe-1 mt-2 mt-sm-0">
      <div class="element-wrapper" [style.background-color]="step3" ><div class="element">3</div></div>
      <div class="div ps-1">Confirm details</div>
    </div>
    <img class="tabler-icon" src="/assets/img/icons/caret-right.svg" />
    <div class="progress-bar-item  ps-1 pe-1 mt-2 mt-sm-0">
      <div class="element-wrapper" [style.background-color]="step4" ><div class="element">4</div></div>
      <div class="div ps-1">Verification</div>
    </div>
</div>

<!-- stepper -->

<div class="row">
    <div class="col-12">
      <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5" data-aos="fade-up" data-aos-duration="1000">

        <mat-stepper [linear]="isLinear" #stepper>
            
            <mat-step [stepControl]="firstFormGroup">
            
                <form [formGroup]="firstFormGroup">

                    <div class="d-flex">
                        <div class="col">
                            <h4 class="p-0 m-0">Select bank</h4>
                            <p class="p-0 m-0">Please select the bank you want to transfer to</p>
                        </div>
                       
                    </div>
            
                    <div class="d-block mt-4">
                        <input type="text" class="form-control" style="border-radius: 20px;" placeholder="Search Bank">
                    </div>
                    
                    <div class="d-flex flex-wrap mt-3">
            
                        @for (item of myPayees; track $index) {
                            <div style="min-width: 200px; cursor: pointer;" class="h-100 w-50" (click)="nextStep(stepper)">
                                <div class="col h-25 m-1 payeeBox">
                                    <div class="d-flex p-4">
                                        <img src="/assets/img/icons/{{ item.logo }}.svg" alt="">
                    
                                        <div class="ps-2">
                                            <p class="p-0 m-0"><b> {{ item.bankName }}</b></p>
                                        
                                        </div>
                    
                                        <div class="col text-end align-self-center align-item-center">
                                            <img src="/assets/img/icons/caret-right.svg" alt="">
                                        </div>
                                    </div>
                    
                                </div>
                            </div>
                            
                        }
                        @empty {
                            Empty list of users
                        }
                        
            
                      
                    </div>

                </form>

            </mat-step>

            <mat-step [stepControl]="secondFormGroup">

                <form [formGroup]="secondFormGroup">
                    
                    <div class="d-flex">
                        <div class="col">
                            <h4 class="p-0 m-0">New bank transfer</h4>
                            <p class="p-0 m-0">Please enter the Account no. or IBAN of the payee you want to transfer to</p>
                        </div>
                        
                    </div>

                    <div class="d-block mt-4">
                        <label for="Send to"><b>Bank</b></label>
                        <div class="h-100 w-100 payeeBox mt-2" style="border-top-right-radius: 8px; border-top-left-radius: 8px; border-top: #DB3127 8px solid;" >
                            <div class="col h-25 m-1 p-2">
                                <div class="d-flex p-2">
                                    <img src="/assets/img/icons/alfa-logo.svg" alt="">
                
                                    <div class="ps-2">
                                        <p class="p-0 m-0">Bank Alfalah (BAFL)</p>
                                       
                                    </div>
                
                                    <div class="col text-end align-self-center align-item-center">
                                        <img src="/assets/img/icons/edit-red.svg" alt="" style="cursor: pointer;" (click)="previousStep(stepper);">
                                    </div>
                                </div>
                
                            </div>
                        </div>
                    </div>

                    <div class="mt-3">
                        <label for="Send to"><b>Account number/IBAN</b></label>
                        <input type="text" name="" placeholder="37214222653212" id="" class="form-control">
                        <span style="font-size: small;">14 digit account/wallet number or 24 digit IBAN</span>
                    </div>
                    
                    <div class="mt-3">
                        <label><b>Purpose of transfer</b></label>
                        <select name="" id="" class="form-control form-select">
                            <option value="">Other</option>
                            <option value="">Other 1</option>
                            <option value="">Other 2</option>
                            <option value="">Other 3</option>
                        </select>
                    </div>



                    <div class="mt-3 d-flex payeeBox p-2">
                        <img src="/assets/img/icons/user-icon.svg" alt="">
                        
                        <p class="pt-3 ps-2"><b>Add as payee</b></p>
                        <p class="pt-3 ps-2"><b>Add as payee</b></p>

                        <div class="pt-3 flex-grow-1 text-end "> 
                            <mat-slide-toggle
                                        class="example-margin"
                                        [color]="color"
                                        [checked]="checked"
                                        [disabled]="disabled"
                                        formControlName="acceptTerms"
                                        (change)="onToggleChange($event)"
                                        >
                                   
                                    </mat-slide-toggle>
                        </div>
                    </div>

                    <div class="mt-3" *ngIf="payeeInput">
                        <label for="Send to"><b>Payee nickname</b></label>
                        <input type="text" name="" placeholder="Please enter payee nickname" id="" class="form-control">
                      
                    </div>

                    <div class="mt-3" *ngIf="payeeInput">
                        <label for="Send to"><b>Payee email id (optional)</b></label>
                        <input type="text" name="" placeholder="Please enter payee email id" id="" class="form-control">
                      
                    </div>

                    <div class="mt-3" *ngIf="payeeInput">
                        <label for="Send to"><b>Payee email id (optional)</b></label>
                        <input type="text" name="" placeholder="Please enter payee email id" id="" class="form-control">
                      
                    </div>


                    <div class="mt-4">
                        <button class="w-100 btn btn-lg btn-danger" matStepperNext (click)="updateStepper(1)" >Continue  <img src="/assets/img/icons/arrow-right-white.svg" alt="" ></button>
                    </div>

                </form>

            </mat-step>

  

            <mat-step [stepControl]="thirdFormGroup">

                <form [formGroup]="thirdFormGroup">
                    
                    <div class="d-flex">
                        <div class="col">
                            <h4 class="p-0 m-0">Enter an amount</h4>
                            <p class="p-0 m-0">Please enter the amount you want to transfer</p>
                        </div>
                        
                    </div>

                    <div class="d-block mt-4">
                        <label for="Send to"><b>Send from</b></label>
                        <!-- <div  class="h-100 w-100" (click)="nextStep(stepper)">
                            <div class="col h-25 m-1 ms-0 me-0 payeeBox">
                                <div class="d-flex p-2">
                                    <img src="/assets/img/icons/alfa-logo.svg" alt="">
                
                                    <div class="ps-2">
                                        <p class="p-0 m-0"><b>Account</b></p>
                                        <p class="p-0 m-0">57431231663731</p>
                                    </div>
                
                                    <div class="col text-end align-self-center align-item-center">
                                        <img src="/assets/img/icons/caret-down.svg" alt="">
                                    </div>
                                </div>
                
                            </div>
                        </div> -->
                        <div class="h-100 w-100">
                            <mat-form-field class="w-100">
                                <mat-label>Account or Wallet</mat-label>
                                <mat-select >
                                  <mat-option value="option1">Current Account - 57431231663731</mat-option>
                                  <mat-option value="option2">Saving Account - 57431231663731</mat-option>
                                  <mat-option value="option3">Wallet - 888881231328</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                       
                    </div>

                    <div class="mt-1">
                        <label for="Send to"><b>Amount</b></label>
                        <input type="text" name="" placeholder="PKR XXXXX" id="" class="form-control">
                    </div>

                    <div  class="w-50  p-2 ps-0">
                        <span style="font-size: small;">Balance: PKR 400,000</span>
                    </div>
                    
                    <div class="mt-2 p-3" style="background-color: #F8F8F8; border-radius: 8px;">
                        <p style="color: #5D5D5D;"><b>Transfer limits</b></p>
                        
                        <p>The following transfer limits apply to your current transaction in progress</p>
                        <p>The following transfer limits apply to your current transaction in progress</p>
                        
                        <div style="border: 1px solid #C3C3C3; border-radius: 4px;" class="d-flex justify-content-around align-self-center pt-2">
                            <p  style="color: #5D5D5D;"><b>Per transaction</b></p>
                            <p  style="color: #5D5D5D;">PKR 250,000</p>
                        </div>

                        <h6 class="primary-font-color pt-2" style="cursor: pointer;" routerLink="/settings/limit-managment" >Modify transfer limits</h6>
                    </div>

                    <div class="mt-4">
                        <button class="w-100 btn btn-lg btn-danger" matStepperNext (click)="updateStepper(2)" >Continue  <img src="/assets/img/icons/arrow-right-white.svg" alt="" ></button>
                    </div>

                </form>

            </mat-step>

            <mat-step [stepControl]="fourthFormGroup">
                <form [formGroup]="fourthFormGroup">
                    <div class="d-flex">
                        <div class="col">
                            <h4 class="p-0 m-0">Confirm details</h4>
                            <p class="p-0 m-0">Please confirm the transfer details below before you complete the transfer</p>
                        </div>
                        
                    </div>

                    <div class="h-100 w-100 payeeBox mt-2" style="border-top-right-radius: 8px; border-top-left-radius: 8px; border-top: #DB3127 8px solid;" >
                        <div class="col h-25 m-1 ">
                            <div class="d-flex p-2 pt-3">
                                <img src="/assets/img/icons/alfa-logo.svg" alt="">
            
                                <div class="ps-2">
                                    <p class="p-0 m-0"><b>Muhammad Ibrahim</b></p>
                                    <p class="p-0 m-0">57431231663731</p>
                                </div>
            
                                <div class="col text-end align-self-center align-item-center">
                                    <img src="/assets/img/icons/edit-red.svg" style="cursor: pointer;" alt="" (click)="selectAccount()">
                                </div>
                            </div>
            
                        </div>

                        <div class="d-flex p-3 pt-0 pb-0">
                            <img src="/assets/img/icons/payee-separator.svg" alt="" class="w-100">
                        </div>

                        <div class="col h-25 m-1">
                            <div class="d-flex p-2 pt-0">
                                <img src="/assets/img/icons/alfa-logo.svg" alt="">
            
                                <div class="ps-2">
                                    <p class="p-0 m-0"><b>Muhammad Ali Ashraf</b></p>
                                    <p class="p-0 m-0">37214222653212</p>
                                </div>
            
                                <div class="col text-end align-self-center align-item-center">
                                    <!-- <img src="/assets/img/icons/edit-red.svg" alt=""> -->
                                </div>
                            </div>
            
                        </div>
                        
                        <div class="d-flex pb-3">
                            
                            <div class="col p-2 ps-3">
                                <p class="p-0 m-0"><b>Nickname</b></p>
                                <p class="p-0 m-0">Ali Ahmed</p>
                            </div>
                            
                            <div class="col p-2 ps-3" style="border-left:1px solid #E1E1E1;">
                                <p class="p-0 m-0"><b>Purpose</b></p>
                                <p class="p-0 m-0">Family support</p>
                            </div>
                        </div>
                    </div>

                    <!-- FCY Transaction -->
                     @if(isFCYAccount){
                        <div class="h-100 w-100 payeeBox mt-2 p-3">
                            <div>
                                 <div class="d-flex justify-content-between">
                                     <p><b>Amount</b></p>
                                     <img src="/assets/img/icons/edit-red.svg" alt="" (click)="previousStep(stepper)">
                                 </div>
                                 <h3>
                                     5,000 <span style="font-size: small;">PKR</span>
                                 </h3>
                                 <p>$2 transfer fee will be charged</p>
                            </div>
                            <div class="d-block pt-2 ps-1 pe-1" style="border-top: 1px solid #E1E1E1;">
                                 <p><b> Recipient receives approx.</b></p>
     
                                 <div class="d-flex justify-content-between">
                                     <h4><b>1,393,173.67</b>   <span style="font-size: small;">PKR</span> </h4>
                                     <p>1 USD = 278.63 PKR</p>
                                 </div>
                            </div>
                         </div>
                     }@else {
                        <div class="h-100 w-100 payeeBox mt-2 p-3">
                            <div class="d-flex justify-content-between">
                                <p><b>Amount</b></p>
                                <img src="/assets/img/icons/edit-red.svg" alt=" " (click)="previousStep(stepper)">
                            </div>
                            <h3>
                                5,000 <span style="font-size: small;">PKR</span>
                            </h3>
                        </div>
                     }
                    
                    <!-- when edit amount pressed this will open -->

                    <!-- <div class="mt-1">
                        <input type="text" name="" placeholder="PKR XXXXX" id="" class="form-control">
                    </div> -->

                    <div class="h-100 w-100 payeeBox mt-2">

                        <div class="d-flex bd-highlight p-2 pb-0">
                            <div class="p-1 bd-highlight"><img src="/assets/img/icons/clock-black.svg" alt=""></div>
                            <div class="p-1 bd-highlight"> <p><b>Transfer frequency</b></p></div>
                            <div class="ms-auto p-1 bd-highlight cursor-pointer" style="cursor: pointer;" (click)="frequencyModal()"> <p>Just now</p></div>
                        </div>
                    </div>


                    <div class="mt-4">
                        <button class="w-100 btn btn-lg btn-danger" matStepperNext (click)="updateStepper(3)" >Continue  <img src="/assets/img/icons/arrow-right-white.svg" alt="" ></button>
                    </div>

                </form>
            </mat-step>

            <mat-step [stepControl]="fifthFormGroup">
                <form [formGroup]="fourthFormGroup">
                    <div class="text-center">
                        <img src="/assets/img/icons/otp-phone.svg" alt="">
                    </div>

                    <h3>
                        Verify OTP
                    </h3>
                    <p>
                        Please enter the code we’ve sent to your mobile number *********83 below
                    </p>

                    <div class="col-12 mt-3">
                        <label for="">OTP</label>
                        <input type="password" name="" id="" class="form-control mt-1" placeholder="****" >
                    </div>

                    <div class="col-12 mt-4">
                        <button class="w-100 btn btn-lg btn-danger" (click)="updateStepper(4); receiptModal();"> Send 2350/- <img src="/assets/img/icons/check-small.svg" alt=""></button>
                    </div>

                    <p style="color: #5D5D5D;" class="text-center mt-2">
                        Resend OTP in 00:40
                    </p>    
                </form>
            </mat-step>

        </mat-stepper>

      </div>
    </div>
</div>
