.sub-text{
    color: #5D5D5D;
}

.btn-red{
    display: flex;
    padding: 12px 24px; /* Adjust padding as needed */
    justify-content: center;
    align-items: center;
    gap: 8px; /* Adjust gap as needed */
    flex: 1;
    border-radius: 4px; /* Adjust border-radius as needed */
    background: #DB3127; /* Adjust background color as needed */
    color: #FFFFFF;
    border: 1px solid #DB3127;
    min-width: 224px;

}

.btn-white{
    display: flex;
    padding: 12px 24px; /* Adjust padding as needed */
    justify-content: center;
    align-items: center;
    gap: 8px; /* Adjust gap as needed */
    flex: 1;
    border: 1px solid #C3C3C3;
    border-radius: 4px; /* Adjust border-radius as needed */
    background-color: #fff; /* Adjust background color as needed */
    background: #fff;
    color: #DB3127;
    min-width: 224px;

}