<div role="dialog" id="ConfirmModal" class="confirm_modal">
    <div class="modal-dialog p-3 modal-md" role="document" data-aos="zoom-in" data-aos-duration="1000">

        <div class="modal-content" style="width: 700px;">
            <div class="modal-body" style="border: 0px;">
                <div class="row p-3 pb-0 pt-0">
                    <div class="d-flex justify-content-between align-items-center align-content-center">
                        <h3>Summary</h3>
                        <i class="fa fa-close fa-lg pt" data-bs-dismiss="modal" style="cursor: pointer;" (click)="closeModal()"></i>
                    </div>
                    <p>October 2023</p>
                    <div class="d-block">
                        <p></p>
                    </div>
                </div>
        
                <div class="frame-summary ms-3 me-3">
                    <div class="div-summary p-2 justify-content-around">
                        <div class="div-2-summary p-1">
                            <img src="/assets/img/icons/arrow-down-green.svg" alt="" class="tabler-icon-summary">
                            <div class="text-wrapper">
                                <h4>3,000</h4>
                            </div>
                            <div class="text-wrapper">
                                Earned
                            </div>
                        </div>
                        <div class="div-2-summary p-1">
                            <img src="/assets/img/icons/arrow-down-green.svg" alt="" class="tabler-icon-summary">
                            <div class="text-wrapper">
                                <h4>3,000</h4>
                            </div>
                            <div class="text-wrapper">
                                Earned
                            </div>
                        </div>
                        <div class="div-2-summary p-1">
                            <img src="/assets/img/icons/arrow-up-red.svg" alt="" class="tabler-icon-summary">
                            <div class="text-wrapper">
                                <h4 style="color: #B40C02;">3,000</h4>
                            </div>
                            <div class="text-wrapper">
                                Earned
                            </div>
                        </div>
                        <div class="div-2-summary p-1">
                            <img src="/assets/img/icons/three-horizontal-dots.svg" alt="" class="tabler-icon-summary">
                            <div class="text-wrapper">
                                <h4 style="color: #767676">0</h4>
                            </div>
                            <div class="text-wrapper">
                                Earned
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row p-4">

                    <mat-tab-group animationDuration="2000ms" #tabGroup>
                        <mat-tab label="Earned" >
                            <div class="card m-1 mt-3 pt-2">
                                <div class="d-flex justify-content-between">
                                    <p class="ps-3">Tier Bonus</p>
                                    <p class="pe-4" style="color: #008042;"><b>0</b></p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="ps-3">Credit card</p>
                                    <p class="pe-4" style="color: #008042;"><b>0</b></p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="ps-3">Debit card</p>
                                    <p class="pe-4" style="color: #008042;"><b>+50</b></p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="ps-3">Deposits</p>
                                    <p class="pe-4" style="color: #008042;"><b>+100</b></p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="ps-3">Digital banking</p>
                                    <p class="pe-4" style="color: #008042;"><b>+100</b></p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="ps-3">Loans</p>
                                    <p class="pe-4" style="color: #008042;"><b>+48</b></p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="ps-3">Wealth management</p>
                                    <p class="pe-4" style="color: #008042;"><b>+100</b></p>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="Redemeed" >
                            <div class="card m-1 mt-3 pt-2">
                                <div class="d-flex justify-content-between">
                                    <p class="ps-3">Tier Bonus</p>
                                    <p class="pe-4" style="color: #008042;"><b>10</b></p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="ps-3">Credit card</p>
                                    <p class="pe-4" style="color: #008042;"><b>20</b></p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="ps-3">Debit card</p>
                                    <p class="pe-4" style="color: #008042;"><b>+20</b></p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="ps-3">Deposits</p>
                                    <p class="pe-4" style="color: #008042;"><b>+100</b></p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="ps-3">Digital banking</p>
                                    <p class="pe-4" style="color: #008042;"><b>+100</b></p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="ps-3">Loans</p>
                                    <p class="pe-4" style="color: #008042;"><b>+42</b></p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="ps-3">Wealth management</p>
                                    <p class="pe-4" style="color: #008042;"><b>+95</b></p>
                                </div>
                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>