<figure class="avatar mr-2 avatar-xl mt-2" style="vertical-align: top;position: absolute;">
    <img src="assets/img/user/avatar-5.jpg" alt="user-profile-pic" class="rounded-circle author-box-picture" style="box-shadow: 0 4px 8px rgb(0 0 0 / 20%);">
</figure>
<div class="author-box-details me-3" style="display: inline-block; padding-left: 10px; margin-left: 50px;">
    <div class="author-box-name mt-3">
    <h5 class="mb-0" style="line-height: 1.2;"><b> <span class="primary-font-color">Welcome,</span> {{ userName }}</b></h5>
    <p class="mb-0">Last Login, Monday May 13, 2021</p>
    </div>     
</div>