<div class="row customerInfo p-3 ps-1">
    <div class="h5 p-0">
        Cool Off
    </div>
</div>

<div class="row">
    <div class="col-12">
      <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5" data-aos="fade-up" data-aos-duration="1000">
      

        <div class="row mt-1 justify-content-center">
                 
            <img src="/assets/img/icons/Alarm-clock.png" alt="" class="w-25 mt-2 mb-2">
        
            <h2 class="pt-2 text-center">Record updated Successfully </h2>
            <p class="text-center">There’s a brief cool-off period for your security. You will have access to the app in:</p>
        
            <div class="text-center">
                <h1>02:00</h1>
                <h3>hours</h3>
            </div>
        
            <div class="text-center">
                <img src="/assets/img/sliders/banner-premo.png" alt="" class="w-75 mt-2 mb-2">
            </div>
        </div>

      </div>
    </div>
</div>




