<div class="row customerInfo p-3 ps-1">
  <div class="h4 p-0">Summary: Current Investments</div>
</div>


<div class="row">
  <div class="col-12">
    <div class="col-lg-5 col-md-9 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5 " data-aos="fade-up"
      data-aos-duration="1000">

      <h4>Summary: Current Investments</h4>
      <p class="sub-text">Dear customer, you are currently not registered with Alfalah Investments. Let out expert
        advisers guide you to the best saving plan.</p>

      <div class="detail-box mt-3">

        <p class="sub-text">Apply Now</p>
        <p><a href="https://www.alfalahghp.com/contact/" class="link">https://www.alfalahghp.com/contact/</a></p>
    
        <p class="sub-text">Email</p>
        <p>aghp.isalfalah.com</p>
    
        <p class="sub-text">UAN</p>
        <p>111-090-090</p>
    
        <p class="sub-text">PABX</p>
        <p>(92 21) 353 067 41-44</p>
    
        <p class="sub-text">Fax</p>
        <p>(92 21) 353 067 52</p>
    
        <p class="sub-text">Website</p>
        <p><a href="https://www.alfalahghp.com/"  class="link">https://www.alfalahghp.com/</a></p>
    
        <p class="sub-text">Address</p>
        <p>Office # 8-B, 8th Floor, Executive Tower, Dolmen City, Block 4, Clifton, Karachi, Pakistan</p>
    
      </div>


    </div>
  </div>
</div>
