<div role="dialog" id="LinkNewLoan" class="confirm_modal">
    <div class="modal-dialog p-4 modal-md" role="document">
        <div class="modal-content" style="width: 500px;" data-aos="zoom-in" data-aos-duration="1000">
            <div class="modal-body" style="border: 0px;">
                <div class="row p-3 pb-0 pt-0">
                    <div class="d-flex justify-content-between">
                        <h4>Link New Loan</h4>
                        <img class="pointer-cursor" src="/assets/img/icons/cancel.svg"  (click)="closeModal()">
                    </div>
                    <p>Please enter your non-checking account number that is on your repayment schedule.</p>
                    <div style="display: flex; justify-content: space-between;">
                        <p><strong>Branch code for autos loans: </strong> </p>
                        <p><strong>0051</strong></p>
                    </div>

                    <div style="display: flex; justify-content: space-between;">
                        <p><strong>Branch code for home loans: </strong> </p>
                        <p><strong>0049</strong></p>
                    </div>
                  
                    <div class="col-12 h-25 mt-2">
                        <label><strong>Enter account number</strong></label>
                        <input type="text" class="form-control" placeholder="Enter account number"
                            value="11223344556677">
                    </div>
                </div>

                <div class="row p-3 mt-2">
                    <div class="col-12">
                        <button class="btn btn-lg w-100 btn-danger" (click)="linkAccount()">
                            <img src="/assets/img/icons/link.svg" alt=""> Link Account</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>