:host ::ng-deep .mat-horizontal-stepper-header-container {  
    display: none; 
}


.box{
    border: 1px solid #E1E1E1; 
    border-radius: 4px; 
    padding: 16px;
}

.sub-text{
    color: #5D5D5D;
}

.message-box{
    display: flex;
padding: var(--Spacing-s-4, 12px) var(--Spacing-s-5, 16px);
justify-content: center;
align-items: center;
align-self: stretch;
border-left: 3px solid var(--Interface-Background-bg-brand, #EA5148);
background: var(--Interface-Background-bg-light, #F8F8F8);
}