<div class="row customerInfo p-3 ps-1">
    <div class="h5 p-0">
        <img src="/assets/img/icons/arrow-left.svg" alt="" (click)="back()">
        Withholding tax statement
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 m-auto p-0 p-md-0 mt-5 " data-aos="fade-up"
            data-aos-duration="1000">


            <mat-stepper [linear]="isLinear" #stepper>

                <mat-step [stepControl]="firstFormGroup">

                    <form [formGroup]="firstFormGroup">





                        <div class="d-flex">
                            <div class="col">
                                <h4 class="p-0 m-0">Withholding tax certificate</h4>
                            </div>

                        </div>

                        <div class="mt-3">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <label><b>Select relation</b></label>
                            </div>
                            <mat-form-field class="w-100" style="border-radius: 4px;">
                                <mat-label>Credit Cards</mat-label>
                                <mat-select>
                                    <mat-option value="option1">57431231663731</mat-option>
                                    <mat-option value="option2">57431231663731</mat-option>
                                    <mat-option value="option3">57431231663731</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                        <div class="mt-3">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <label><b>WHT type</b></label>

                            </div>
                            <mat-chip-listbox aria-label="Satement Selection">
                                <div style="justify-content: space-between;">
                                    <mat-chip-option selected color="warn">Foreign transaction</mat-chip-option>
                                    <mat-chip-option color="warn">Withdrawal</mat-chip-option>
                                </div>
                            </mat-chip-listbox>

                        </div>

                        <div class="mt-3">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <label><b>Transaction period</b></label>

                            </div>
                        </div>


                        <div class="row mt-3">

                            <div class="col-6 ">
                                <label for=""><b>From</b></label>
                                <input type="date" name="" id="" class="form-control" value="01/01/2021">
                            </div>

                            <div class="col-6">
                                <label for=""><b>To</b></label>
                                <input type="date" name="" id="" class="form-control" value="01/01/2023">
                            </div>
                        </div>




                        <div class="mt-3">
                            <div class="message-box">
                                <ul>
                                    <li class="sub-text">Maximum 1 year report can be extracted</li>
                                    <li class="sub-text">Report from January 2020 onwards can be extracted</li>
                                </ul>
                            </div>
                        </div>

                        <div class="mt-3">
                            <div class="frame mt-3" style="border: none;">
                                <div class="content" style="display: flex;">



                                    <div class="d-flex align-items-center">
                                        <input type='checkbox' id='' name='account'
                                            style='width: 20px; height: 20px; margin-right: 10px; border-radius: 20px;'>
                                    </div>

                                    <div class="div d-flex align-items-center">
                                        <div class="text-wrapper me-1">I have read and agree to the </div>
                                        <div style="color: #B40C02; text-decoration: underline;"> Terms and conditions
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>



                        <div class="mt-3">
                            <button class="w-100 btn btn-lg btn-danger"
                                (click)="nextStep(stepper);  ">Generate <img
                                    src="/assets/img/icons/arrow-right-white.svg" alt=""></button>

                        </div>






                    </form>

                </mat-step>

                <mat-step [stepControl]="secondFormGroup">

                    <form [formGroup]="secondFormGroup">


                        <div class="d-flex">
                            <div class="col">
                                <h4 class="p-0 m-0">Withholding tax certificate</h4>
                            </div>

                        </div>






                        <div class="mt-3 h-50">
                            <iframe [src]="" width="100%" height="500px" frameborder="0"></iframe>

                        </div>




                        <div class="mt-3">
                            <div class="row d-flex justify-content-center text-center m-3">
                                <div class="col justify-content-center m-2 generalBox pt-3 w-25">
                                    <img src="/assets/img/icons/download-red.svg" alt="">
                                    <p><b>Download PDF</b></p>
                                </div>
                                <div class="col justify-content-center m-2 generalBox pt-3 w-25">
                                    <img src="/assets/img/icons/home-red.svg" alt="">
                                    <p><b>Go to Home</b></p>
                                </div>
                            </div>

                        </div>





                    </form>

                </mat-step>

                <mat-step [stepControl]="thirdFormGroup">



                </mat-step>



            </mat-stepper>

        </div>
    </div>
</div>