:host ::ng-deep .mat-horizontal-stepper-header-container {  
    display: none; 
}

.horizontal-progress {
    display: inline-flex;
    align-items: center;
    /* gap: 1px; */
    position: relative;
}


.message-box{
    display: flex;
padding: var(--Spacing-s-4, 12px) var(--Spacing-s-5, 16px);
justify-content: start;
align-items: center;
align-self: stretch;
border-left: 3px solid var(--Interface-Background-bg-brand, #EA5148);
background: var(--Interface-Background-bg-light, #F8F8F8);
}

.sub-text{
    color: #767676;
}